[2018-06-11 16:51] joeydong-stripe commented on #958
Ah great, thanks for the update. Sounds good!

Nice! I forgot we offered this API:

https://github.com/stripe/stripe-ios/blob/master/Stripe/PublicHeaders/STPAddCardViewController.h#L58-L65

[2018-06-11 16:51] #958 closed

[2018-06-11 22:54] csabol-stripe commented on #955
Thanks for the report, and apologies for the delay in getting back to you! I am looking into this now

[2018-06-11 22:57] csabol-stripe commented on #955
@ericlewis would you mind confirming which class(es) you are setting the expiration on?

[2018-06-11 23:11] ericlewis commented on #955
@csabol-stripe STPPaymentCardTextField

[2018-06-11 23:53] csabol-stripe commented on #955
By default `STPPaymentCardTextField` should be setting the `rawExpiration` property on the `STPPaymentCardTextFieldViewModel`, which does allow for month only strings:

![image](https://user-images.githubusercontent.com/36750494/41262824-ee673544-6d97-11e8-9d02-869869d07ae3.png)

Is there additional configuration you are doing on the `STPPaymentCardTextField`?

[2018-06-12 09:50] podycust opened #966 "Order api"
I just wondering if there is a swift example on using the order api?

[2018-06-12 16:33] joeydong-stripe commented on #966
Hi @podycust, looks like something we should definitely consider! Which part of the Orders API would you expect an example for?

https://stripe.com/docs/orders

[2018-06-13 07:59] abdo996 opened #967 "٤٤٤"
- ٦٥٤

## Summary

## Code to reproduce

## iOS version

## Installation method

## SDK version

## Other information

[2018-06-13 17:51] csabol-stripe commented on #967
Closing this due to lack of detail. If there's an issue you're experiencing please feel free to re-report @abdo996 !

[2018-06-13 17:51] #967 closed

[2018-06-14 11:37] yliu342 opened #968 "Standard integration Apple Pay cancel while processing"
## Summary
Hi I'm using the standard integration of Stripe for Apple Pay. It worked well for the happy path and everything is good. But there is one scenario where I believe it is not handled by the SDK and the details are the following:

- User selected Apple Pay as payment method
- `PKPaymentAuthorizationViewController` is presented by the SDK.
- User authorised the payment by using TouchID or F

[2018-06-14 14:59] podycust commented on #966
order which uses a product and sku

[2018-06-14 17:01] joeydong-stripe commented on #966
Thanks for the feedback @podycust. I've put it on our internal tracking system and we will consider it :)

[2018-06-14 17:01] #966 closed

[2018-06-15 06:57] ericlewis commented on #955
Nope, nothing special. Maybe a version mismatch?

[2018-06-15 21:20] csabol-stripe commented on #955
@ericlewis which version are you using now? Does updating to a newer version resolve the issue for you?

[2018-06-18 09:00] yliu342 commented on #968
Thank you @csabol-stripe

[2018-06-19 07:02] jaz-ah opened #970 "Please support optional CVC Code"
## Summary
Feature Request: make CVC Code optional like PostalCode

## iOS version
(Any)

## Installation method
Pods

## SDK version
13.0.3

[2018-06-19 17:12] remi-stripe commented on #970
@jaz-ah CVC is highly recommended to avoid fraud on your account. Client-side, when collecting card details, you should always collect it from the customer so this is not something we would add support for.

If you have a specific reason to need to skip CVC, I would recommend discussing this directly with our support team instead: https://support.stripe.com/email

[2018-06-19 17:12] #970 closed

[2018-06-19 20:45] csabol-stripe commented on #968
I reviewed the Apple Human Interface Guidelines (https://developer.apple.com/design/human-interface-guidelines/apple-pay/architecture/error-handling/#data-validation) and found

[2018-06-19 22:19] yliu342 commented on #968
That make sense but I don't think Stripe back end has an api to cancel/revert a charge request. So in scenario where a user clicked on apple pay and authorized by using TouchID/FaceID then during process payment clicked cancel. The charge request has already being made to the Stripe backend.  The app can send a request to our backend system to cancel the charge but I don't think there is a way for

[2018-06-19 22:45] yliu342 commented on #968
One other thing I noticed is, in `PKPaymentAuthorizationViewController+Stripe_Blocks.m` `didAuthorizePayment` method Stripe make an async call to createTokenWithPayment. On completion, it will call `paymentContext: didCreatePaymentResult`. This method does not check if during the async call if apple pay has been canceled or not which could lead to the following scenario.
User authorized apple `did

[2018-06-20 00:49] epacces opened #971 "Deleting the selected payment method"
## Summary
The `STPPaymentMethodsInternalViewController` does not allow the user to delete the selected payment method, although the endpoints https://stripe.com/docs/api#delete_card, https://stripe.com/docs/api#detach_source allow to do so.

## iOS version
N/A

## Installation method
Cocoapods

## SDK version
13.0.2

## Other information
This seems to be the expected behaviour according to  https

[2018-06-20 17:06] bcomeau opened #972 "Other supported PKPaymentNetworks for Apple Pay"
## Summary

In the current SDK only the following networks are supported for Apple Pay payment:
- Amex
- MasterCard
- Visa
- Discover (iOS 9+ only)

As described in `[STPAPIClient supportedPKPaymentNetworks]`

Is there any plan to update the SDK to support other networks?

## SDK version

Version: 13.0.3

## Other information

iOS 10 added a [method](https://developer.apple.com/documentation/passk

[2018-06-20 23:28] danj-stripe commented on #972
Hi @bcomeau,

The SDK doesn't support all of the networks that are available through Apple Pay. The `supportedPKPaymentNetworks` are the ones that the Stripe backend can currently process for us.

Dan

[2018-06-20 23:28] #972 closed

[2018-06-21 10:36] plevetsky commented on #957
I had the same 2 issues when declaring STPRedirectContext as a local variable.  Once I moved the STPRedirectContext instance to be a class variable with a strong reference (like in the Stripe iOS sample app) the redirect started working as expected.

[2018-06-22 08:37] epacces commented on #971
Hi @danj-stripe,

Thanks for your answer.

Unfortunately, I don't know any detail on the use case yet. I am going to ask my client and get back to you as soon as provided with further requirements.

Best,
Eri

[2018-06-22 16:19] pierrem opened #973 "Standard integration Apple Pay issue after user cancelation"
## Summary

I'm using Stripe (13.0.2) and I'm testing on an iPhone simulator

The user selects Apple Pay
I call 	[self.paymentContext requestPayment];
The Apple Pay payment controller is presented
I tap on the cancel button
paymentContext:didFinishWithStatus:error: is called with status STPPaymentStatusUserCancellation
and the Apple Pay payment controller is dismissed

Next time I call [self.payme

[2018-06-25 09:03] Bhargow opened #974 "Month Validation returns incomplete for 1 (January)"
https://github.com/stripe/stripe-ios/blob/b17dd1265473a19b01b36dabc7e399359ea7bcff/Stripe/STPCardValidator.m#L65

In my app, I have added an extra validation for all the fields entered in the STPPaymentCardTextField

Month
Year
Card
CVV

I used the below code to validate the month

Note: viewPaymentDetails (this is the STPPaymentCardTextField object)

let expMonth = viewPaymentDetails.expirationMo

[2018-06-25 19:04] joeydong-stripe commented on #974
Hi @Bhargow, thanks for opening an issue.

I believe the reason we say an entry of just "0" or "1" is incomplete is because the user can continue entering information to make it "01", "02", etc or "10", "11", "12". Thus, we cannot confidently determine that they intended to input "1" to mean "January". On the other hand, entering a "2" has no other valid possibilities so we can confidently determi

[2018-06-25 19:08] joeydong-stripe commented on #971
Thanks @epacces, let us know!

[2018-06-25 19:08] #971 closed

[2018-06-25 19:09] joeydong-stripe commented on #957
Good tip @plevetsky! Thanks!

Please open a new issue if you have any further trouble. I'm going to close this issue because it's getting long and losing focus.

[2018-06-25 19:09] #957 closed

[2018-06-25 19:28] csabol-stripe commented on #973
Thanks for the report @pierrem We're looking at our ApplePay integration right now with #968 and will be sure to cover this issue as well!

[2018-06-26 01:04] bryanhathaway opened #975 "STPPaymentMethodsViewController uses Cancel button when pushed"
## Summary
STPPaymentMethodsViewController always shows "Cancel" as the left bar button item, even when pushed onto an existing navigation stack.

The expectation is that when pushed the button should be "< Back" or at the very least "< Cancel" with the chevron, to comply with user expectations of pushed controller behaviour.

## Code to reproduce
[code]

## iOS version
10.3.1
11.4

## Installatio

[2018-06-26 08:37] Bhargow commented on #974
Thank you for the quick reply, I totaly agree with you.

In the case of using STPPaymentCardTextField we need to use
**"let expMonth = viewPaymentDetails.formattedExpirationMonth"** instead of
**"let expMonth = viewPaymentDetails.expirationMonth"**
 for the below code for proper validation
 let expMonthState = STPCardValidator.validationState(forExpirationMonth: expMonth)

But when we use custom t

[2018-06-26 20:44] joeydong-stripe commented on #974
Hi @Bhargow,

If we look at the implementation of `STPCardValidator.validationState(forExpirationMonth:)`:

https://github.com/stripe/stripe-ios/blob/master/Stripe/STPCardValidator.m#L53-L71

Whether or not you prepend a `0` is up to you. If the user entered a `1` and you are sure they intended January, then yes, I would prepend a `0` to get `STPCardValidationStateValid` instead of `STPCardValidat

[2018-06-26 20:44] #974 closed

[2018-06-26 20:48] joeydong-stripe commented on #975
Hi @bryanhathaway, thanks for opening an issue.

We've decided to keep it as a "Cancel" button even if the view controller is pushed because the view controller can potentially lead the user to adding a new card. If that happens, the idea of always being able to "go back" doesn't hold up so "Cancel" is more appropriate.

If you want to change the behavior yourself, you can always fork this reposit

[2018-06-26 20:48] #975 closed

[2018-06-26 20:49] joeydong-stripe commented on #975
Otherwise, I would suggest that you present the view controller instead. Nice attention to detail!

[2018-07-01 08:10] wangjiejacques opened #981 "how to get notified when STPPaymentContext#loading is becoming true ?"
## Summary
For now, the `STPPaymentContextDelegate` doesn't have a method like `- (void)paymentContext:(STPPaymentContext *)paymentContext didFinishToLoad;`.
but it's quite important to get notified when the STPPaymentContext is finishing to load, is it a good idea to add this method to the `STPPaymentContextDelegate`, or am I get something wrong ?

## Installation method
Pod

## SDK version
13.0.

[2018-07-02 15:54] joeydong-stripe commented on #981
Hi @wangjiejacques, thanks for opening an issue.

This seems like a reasonable delegate method to add. What do you plan on doing with this notification?

[2018-07-02 19:20] wangjiejacques commented on #981
@joeydong-stripe thanks, I have found `- (void)paymentContextDidChange:(STPPaymentContext *)paymentContext;` is enough, I don't need `- (void)paymentContext:(STPPaymentContext *)paymentContext didFinishToLoad;`

[2018-07-02 20:21] joeydong-stripe commented on #981
👍

[2018-07-02 20:21] #981 closed

[2018-07-03 07:20] SagarUnagar opened #982 "How do i get Payment Token from STPPaymentMethodsViewController using Swift?"
I'm using `STPPaymentMethodsViewController` for Stripe payment. Can anyone help me how can I get the payment token from its delegate method?

`let paymentMethodViewController = STPPaymentMethodsViewController(configuration: STPPaymentConfiguration.shared(), theme: STPTheme.default(), customerContext: self.customerContext, delegate: self)`
`let navigationController = UINavigationController(rootView

[2018-07-03 16:58] fred-stripe commented on #982
Hi there! It looks like you raised this same question on Stack Overflow, and you've received an answer there:

https://stackoverflow.com/questions/51147593/how-do-i-get-payment-token-from-stppaymentmethodsviewcontroller-using-swift/

For "how do I implement this?" kind of questions I'd recommend asking [Stripe support](https://support.stripe.com/contact/login) directly. Issues on this repository a

[2018-07-03 16:58] #982 closed

[2018-07-09 23:01] pwr7549 opened #990 "We need the Stripe SDK for tvOS as multi-OS instead?"
## Summary

## Code to reproduce

## iOS version

## Installation method

## SDK version

## Other information

[2018-07-09 23:02] pwr7549 commented on #990
we would like to have this featured add to our tvOS app. Do you have any advise for this?

[2018-07-11 00:29] danj-stripe commented on #990
Hi @pwr7549,

We still don't have anything to share regarding tvOS support in the SDK.

What specific functionality do you need in your tvOS app?

[2018-07-11 06:22] felixkli opened #991 "How can we prefill user shipping method?"
## Summary

Hi, I would like to implement the standard integration with both shipping address and shipping method pre filled or set to a default. Currently, the properties for selected shipping method is read only. Is there a way to do this without having to prompt the shipping address form to select the shipping method?

## iOS version
11.3

## Installation method
Cocoapods

## SDK version
13.0.3

[2018-07-11 19:16] danj-stripe commented on #991
Hi @felixkli,

I don't believe that's supported. Can you describe a little more about your use case?

Thanks,
Dan

[2018-07-12 02:53] felixkli commented on #991
Hi Dan,

Currently, our user can retrieve their previously entered shipping address, but in order to select a shipping method, they are forced to enter the shipping address screen before they can select a shipping method. We would like to set a default shipping method so that the user does not have to go through the shipping address flow every time they would like to purchase a product.

Thanks,
F

[2018-07-12 18:55] danj-stripe commented on #991
Thanks Felix, I appreciate the additional context.

I've moved this feature request into our internal issue tracker for a future update, and I'm going to close this github issue.

[2018-07-12 18:55] #991 closed

[2018-07-12 23:38] yujia917 commented on #584
Looks like the issue is not fixed. The paymentMethod view controller is still not refreshed when a new card is added.

[2018-07-13 08:34] yujia917 opened #993 "STPPaymentMethodsViewController still not refreshed when new card is added"
This is probably the duplicate of issue https://github.com/stripe/stripe-ios/issues/584.

But it's still not working for now. STPPaymentMethodsViewController is not refreshed after a new card is added. Did I miss anything here?

Thanks for your time.

This is the code to pop STPPaymentMethodsViewController.

  func popPaymentMethodVC() {
        let config = STPPaymentConfiguration()
        confi

[2018-07-14 00:09] yujia917 opened #998 "Got unknown error when charging in test account"
I started getting Unknown errors when trying to charge test credit card, It worked fine yesterday.

## Summary

Got unknown error when charging in test account
## Code to reproduce

## iOS version

11.2.6
## Installation method

pod
## SDK version

13.0.2
## Other information

Error log:

{ Error: An unknown error occurred
    at Error._Error (/user_code/node_modules/stripe/lib/Error.js:12:17)

[2018-07-17 00:07] odedharth opened #999 "Crash when adding a card"
## Summary
There is a fatal exception that is crashing the app for some of our users when adding a credit card.

The error is:
[code]
Happening at:
[code]

## Code to reproduce
It's happening for some of our users in production, and we don't know how to reproduce but we do have the stack trace of the crashes using Crashalytics: https://fabric.io/oded-harths-projects/ios/apps/oded-harth.mdacne/issu

[2018-07-17 01:36] odedharth commented on #999
@cale-stripe Sorry send the wrong link: http://crashes.to/s/90e272acb88

[2018-07-17 03:52] #998 closed

[2018-07-19 03:18] yujia917 commented on #993
Any update?

[2018-07-19 16:44] csabol-stripe commented on #993
Sorry for the delay @yujia917! I am looking into this now

[2018-07-19 16:54] csabol-stripe commented on #993
@yujia917 would you be able to confirm which version of the SDK you are using?

[2018-07-19 18:37] odedharth commented on #999
@csabol-stripe Any ETA for the fix?

[2018-07-19 18:49] yujia917 commented on #993
Hi:

This is the info:
SDK version
13.0.2

iOS version
11.2.6

Installation method
pod

Thanks.

[2018-07-19 20:05] csabol-stripe commented on #999
Fix will go into our next SDK release which is our priority at the moment! :)

[2018-07-21 01:19] yujia917 commented on #993
How do you re-show STPPaymentMethodsViewController, re-open it using present view controller？

The new added card shows if I re-present the STPPaymentMethodsViewController. but it's not refreshed when segue back from AddCard view controller.

![image1](https://user-images.githubusercontent.com/12704261/43030719-374fd232-8c49-11e8-8362-44f1262a726a.gif)

[2018-07-21 01:24] yujia917 opened #1000 "STPPaymentMethodsViewController still not refreshed when new card is added"
Please refer to issue #993. comments added.

[2018-07-23 08:03] ema987 opened #1001 "[Error handling] Add support for HTTP status codes"
## Summary
The iOS SDK just creates a data structure based on the JSON response from the backend, actually ignoring the HTTP error codes, relying then only on the *code* field to make choices about errors.
This is not what happens in the Android SDK, which make choices based on HTTP status codes and could cause different behaviours.

## Code to reproduce
You can see the difference just looking at

[2018-07-23 23:13] #1000 closed

[2018-07-23 23:18] danj-stripe commented on #955
Hi @ericlewis,

Have you tried using the `inputView` property on the `STPPaymentCardTextField` for your custom keyboard?

If I understand you correctly, you're trying to use `setCardParams:` in conjunction with a custom keyboard to enter the expiration month and have the UI live update, and I don't think that's supported.

We haven't heard from you in a month, so I'm closing this issue, but we'll

[2018-07-23 23:18] #955 closed

[2018-07-24 12:38] ema987 commented on #1001
Hi @danj-stripe,

thank you for your attention. Actually I haven't found an exact case where the iOS behaves wrongly on itself, but it behaves differently from the Android one (please see the linked issue) in the case you try to make a payment with an unsupported card. I opened this issue on the iOS repository to make you aware of the situation. I have spoken with @michelle-stripe before, please h

[2018-07-28 07:01] david-var opened #1002 "Does stripe provide card edit widget?"
## Summary

## Code to reproduce

## iOS version

## Installation method

## SDK version

## Other information

[2018-07-29 20:45] jchand opened #1003 "Done button not appearing in 'Add Payment Method' screen"
## Summary

Noticing an issue where it's impossible to add a new payment method because the Done button is missing:

![add_pay_method](https://user-images.githubusercontent.com/3281141/43370517-4d8a2686-934e-11e8-887b-940f10d4d305.PNG)

This happens only once I already have one card added, and I try to add another:

![list_pay_methods](https://user-images.githubusercontent.com/3281141/43370520-50f

[2018-07-30 17:55] danj-stripe commented on #1002
Hi @david-var,

No, editing a card is not supported, it needs to be replaced. Users add the new card and remove the old one.

This is also how the Stripe API works, you can't change the card details for a Source or Token.

Dan

[2018-07-30 17:55] #1002 closed

[2018-07-30 22:14] danj-stripe commented on #1003
Hi @jchand,

This sounds like it's probably an integration problem, and we'll need to see the code you're using to present & manage the Add Payment view controller.

You can write into Stripe support at https://support.stripe.com/email/login and they'll be happy to help you integrate Stripe into your application & work through any issues.

Thanks,
Dan

[2018-07-30 22:14] #1003 closed

[2018-08-07 01:43] jzhw0130 opened #1006 "Undeclared 'STPSourceTypeBitcoin:'"
## Summary

Use of undeclared identifier 'STPSourceTypeBitcoin'; did you mean 'STPSourceTypeUnknown'?

## Code to reproduce

Just build

## iOS version

9.0+

## Installation method

Cocaspod

## SDK version
target 'Milo' do
  pod 'Stripe', '~> 13.1.0'
  inherit! :search_paths
end

![screen shot 2018-08-07 at 9 40 29 am](https://user-images.githubusercontent.com/12521790/43749329-40df0666-9a26-11e

[2018-08-07 16:04] jlubeck opened #1007 "How to force invalid state on STPPaymentCardTextField when user leaves the textfield"
I'm having some users that for some reason are trying to enter a credit card with 15 digits instead of 16. But the STPPaymentCardTextField doesn't show as red, because the state is Incomplete instead of Invalid.

I understand that while the user is typing, we don't want to show them an invalid card until they are done typing, but after they leave the field, if the card is invalid, it should turn t

[2018-08-07 17:33] danj-stripe commented on #1006
Hi @jzhw0130 ,

We removed bitcoin support in v13.0.0. There are some more details in the Migrating guide: https://github.com/stripe/stripe-ios/blob/master/MIGRATING.md

Thanks,
Dan

[2018-08-07 17:33] #1006 closed

[2018-08-07 18:02] csabol-stripe commented on #1007
Hi @jlubeck, thanks for the report! I'm actually working on a patch updating some `STPPaymentCardTextField` behaviors and issues that should address this. I will update this issue with the Pull Request when it is ready!

[2018-08-07 18:37] jlubeck commented on #1007
Oh sweet! Perfect timing. Thanks for the fast reply!

[2018-08-08 02:34] jzhw0130 commented on #1006
No No

It is not a migrate issue.
I just use the latest version(V13.1.0) directly.

The error exists inside the library, not my application code.
Pl check again.

<img width="1067" alt="screen shot 2018-08-08 at 10 32 53 am" src="https://user-images.githubusercontent.com/12521790/43813037-9b1e1c9a-9af6-11e8-945c-05a207359840.png">
<img width="955" alt="screen shot 2018-08-08 at 10 33 10 am" src="h

[2018-08-14 18:03] csabol-stripe commented on #1007
We've just released [v13.2.0](https://github.com/stripe/stripe-ios/releases/tag/v13.2.0) that now marks incomplete card numbers as invalid. Thanks for the report and let us know if you run into any other issues!

[2018-08-14 18:03] #1007 closed

[2018-08-14 18:04] csabol-stripe commented on #999
We've just released v13.2.0 that fixes this crash. Thanks for the report and let us know if you run into any other issues!

[2018-08-14 18:04] #999 closed

[2018-08-14 22:19] odedharth opened #1015 "Keyboard issues when adding card"
## Summary
I've upgraded Stripe from version 11.5.0 to 13.2.0, saw a problem appear on the "Add a card" screen.

When writing the card digits it opens the iPhone digit keyboard, but when getting to the expiration date and CVC and change is to the regular digit keyboard.
This requires the user to switch keyboard again and adds friction to the process which can hurt conversion.

## Installation meth

[2018-08-14 22:24] odedharth opened #1016 "Keyboard issues when selecting state"
## Summary
I've upgraded Stripe from version 11.5.0 to 13.2.0, saw a problem appear on the "Shipping" screen.
When selecting a state in the US in version 11.5.0 it allowed selecting from a selector that included all

This helped made sure that:
1. The states were written in the same format of 2 letter (for example California was always "CA).
2. Easy to select

In version 13.2.0, it requires users

[2018-08-15 18:53] csabol-stripe commented on #1015
Hi @odedharth, thanks for the bug report. Would you mind confirming which iOS version you are hitting this on? I just tried reproducing on 11.4 but am seeing the same keyboard for card number, expiration date, and cvc input. Thanks!

[2018-08-15 19:38] odedharth commented on #1015
@csabol-stripe iOS 12

[2018-08-15 21:04] csabol-stripe commented on #1016
Hi @odedharth, would you be able to provide some more detail on where you are seeing this regression? Is it in STPShippingAddressViewController? We have a country selector in there but I'm trying to track down if we ever also had a state selector

[2018-08-15 21:05] csabol-stripe commented on #1015
Thanks, we'll try reproducing on a device running iOS 12

[2018-08-15 22:43] odedharth commented on #1016
@csabol-stripe Sorry, it's actually ok.

[2018-08-15 22:43] #1016 closed

[2018-08-15 22:46] odedharth commented on #1015
@csabol-stripe filmed a video showing the issue https://www.dropbox.com/s/3hghri96i74ta90/stripe%20card%20bug.MOV?dl=0

[2018-08-16 16:50] danj-stripe commented on #1015
Hi @odedharth,

Thanks for the video, that helps. I don't have the exact same setup as you, but I think the problem is that you're using the Google Gboard keyboard.

Looking at the code, everything looks good to me. Those text fields are set to use `UIKeyboardTypeASCIICapableNumberPad`, which should be "Specifies a number pad that outputs only ASCII digits." https://github.com/stripe/stripe-ios/bl

[2018-08-16 16:54] odedharth commented on #1015
Hi @danj-stripe,

Thanks for the detailed response. Good to know that it's only for Gboard! So it's not critical then. I'll keep track on that, if it's a Gboard issue hopefully they'll fix it before iOS 12 launch.

Thanks

[2018-08-16 17:08] danj-stripe commented on #1015
Sounds good. I'm going to close this, but let us know if you find out something more that indicates there's something more we can/should do.

[2018-08-16 17:08] #1015 closed

[2018-08-22 12:27] SteveLeviathan opened #1019 "Stripe.h compile error -> #import "STPPaymentIntent.h"; STPPaymentIntent.h is missing"
## Summary

`Stripe.h` compile error:
Header import -> `#import "STPPaymentIntent.h";`
`STPPaymentIntent.h` is missing.

## Installation method

CocoaPods
## SDK version

`13.1.0` and `13.2.0`

[2018-08-22 22:28] danj-stripe commented on #1019
Hi @SteveLeviathan,

I'm unable to reproduce your problem. I've created brand new projects, both Objective-C & SWIFT, and used cocoapods to install `13.2.0`.

I'm able to `#import <Stripe/Stripe.h>` successfully, and even used the `retrievePaymentIntentWithClientSecret:completion:` method to fetch & print a `STPPaymentIntent` object.

If you're able to provide some more details, I may be able to h

[2018-08-23 17:14] danj-stripe commented on #1019
I'm glad you got it figured out! I believe we've got our podspec set up correctly, so I suspect either an Xcode glitch (maybe it didn't pick up the changed project?), or something with the Cocoapods gem.

I don't think we've seen similar issues previously, but we'll keep an eye out.

Dan

[2018-08-23 17:14] #1019 closed

[2018-09-06 15:59] lmendezk9 commented on #971
hello, how can I implement, the edit button in the "paymentMethodsViewController"?

[2018-09-06 16:05] lmendezk9 commented on #504
@danj-stripe  How can I enable the edit button?
I'm implementing stripe in my app but with your api I wanted to know how I can enable the edit button in the view of adding credit cards

[2018-09-07 21:31] danj-stripe commented on #504
Hi @lmendezk9,

You can write into Stripe support at https://support.stripe.com/email/login and they'll be happy to help you integrate Stripe into your application & work through any issues.

You can also look at our sample applications in this github repo for examples of how to integrate.

Thanks,
Dan

[2018-09-11 04:11] felixkli commented on #991
Also, in the didUpdateShippingAddress delegate method, when I call the completion(status, error, nil, nil) block, I am unable to request payment. It will launch the shipping address form over and over even if I complete the shipping address form.

[2018-09-14 08:26] GILL71 commented on #609
@royherma Have you solved this problem
I try to rename backButtonItem only - how can I do this?

[2018-09-17 06:42] tkirby opened #1021 "STPPaymentCardTextField not firing change delegate method when deleting across fields"
I'm seeing odd behavior from STPPaymentCardTextField when deleting across field boundries, the first delete in the previous text field doesn't fire change method. And it looks like it's not doing some internal housekeeping as well. Here is a [video](https://www.youtube.com/watch?v=8m4_goJT5jk&feature=youtu.be) illustrating what I'm seeing using the demo example from [CreditCardForm-iOS]( https://g

[2018-09-17 09:35] peterringset opened #1022 "STPPaymentContext swallows error on failed ephemeral key creation"
## Summary
The call to create an ephemeral key can fail. In this case the payment context's delegate needs to be notified so that it can do the appropriate reloading. It seems however that the payment context swallows this error, and the delegate is never notified.

## Code to reproduce
Create an `STPPaymentContext` and set it's delegate. Make a bogus implementation of the ephemeral key creation,

[2018-09-17 19:29] danj-stripe commented on #1021
Hi @tkirby,

Thanks for the bug report. I'm able to reproduce the problem, and I've filed a bug for it on our internal issue tracker.

Dan

[2018-09-17 19:29] #1021 closed

[2018-09-17 20:02] danj-stripe commented on #1022
Hi @peterringset,

Thanks for the bug report. You've found an unhandled edge case, and I've written up a bug in our internal tracker to get it fixed. However, I think we can give you a workaround.

First, make sure you're setting `paymentContext.hostViewController` after creating the `STPPaymentContext`:

[code]

Next, wrap your bogus implementation in a dispatch async block:
[code]

Now your `STP

[2018-09-17 20:02] #1022 closed

[2018-09-17 20:18] danj-stripe commented on #991
Hi @felixkli,

I think that's expected behavior. If you implement the `paymentContext:didUpdateShippingAddress:completion:` delegate method, the SDK expects a valid shipping address to have some shipping methods, and that you'll pass them to the completion callback (instead of `nil, nil`).

You can write into Stripe support at https://support.stripe.com/email/login for more help with your integrat

[2018-09-20 18:59] wangjiejacques opened #1023 "handleURLCallback(url) return false when return from alipay."
## Summary
[code]
I use this code to handle url returned by alipay, is it normal that `Stripe.handleURLCallback(with: url)` return false ?
the url is as the following
`appname://safepay/?%7B%22memo%22:%7B%22result%22:%22%22,%22ResultStatus%22:%226001%22,%22memo%22:%22Cancelled%20by%20Customer%22%7D,%22requestType%22:%22safepay%22%7D`

## Code to reproduce
[code]

## iOS version
iOS 12

## Installa

[2018-09-26 17:31] csabol-stripe commented on #1023
hi @wangjiejacques,
Sorry to hear you're having issues. The code to reproduce you've provided is expected to return false since Stripe doesn't have an opportunity to register for the callback. Would you be able to provide some more information on how you are hitting this error? Feel free to reach out to Stripe support at https://support.stripe.com/contact if you would be more comfortable sharing a

[2018-10-01 07:36] asharmaVelsof opened #1024 "How to get Charge Id in iOS"
![screen shot 2018-10-01 at 12 26 22 pm](https://user-images.githubusercontent.com/43741245/46275541-05937800-c57b-11e8-97dc-a5768b18a990.png)
I am integrating Stripe in iOS Swift 4.0. I have installed the SDK using Cocoa pods. I have completed the integration and everything is working fine.
The only issue I am facing is that : How can I get Charge Id after Complete transaction in Stripe.
I am abl

[2018-10-01 18:20] danj-stripe commented on #1024
Hi @asharmaVelsof,

The SDK does not have any method for retrieving the Charge.

Your backend is responsible for creating the `Charge`, and it looks like it's doing so through `MyAPIClient.sharedClient.completeCharge()`. If there are pieces of data you need your server to send back to the mobile client, I'd recommend adding it there.

I'm not sure what you're planning to use the `Charge.id` for, b

[2018-10-01 18:20] #1024 closed

[2018-10-02 02:57] huyLamOffy opened #1025 "Error 'The network connection was lost' each time retrieve source on real device"
## Summary

We use Stripe to integrate Alipay in-app. Every time we get call back redirect, we use func retrieveSource() to retrieve and check chargeable status. Make a test on real device, it usually gets error "The network connection was lost", but it works well on the simulators
## Code to reproduce

STPAPIClient.shared().retrieveSource(withId: id, clientSecret: clientSecrect, completion: compl

[2018-10-04 23:28] danj-stripe commented on #1025
Hi @huyLamOffy,

That error makes it sound like your device has network connectivity problems. As far as I know that specific error message is coming from Foundation, via the `NSURLSession` that the Stripe SDK is using.

Our support team is available to help with integration issues. There might be something different or unusual about the way you've integrated that's causing the SDK to have connect

[2018-10-04 23:28] #1025 closed

[2018-10-05 22:11] barfoon opened #1026 "Unable to see alert title & message when a CVC error occurs"
## Summary
Unable to see title & message when a CVC error occurs after attempting to add a card, only `OK` action button is displayed.

## Code to reproduce
- Add a new card with number `4000 0000 0000 0101`

## iOS version
11.2

## Installation method
Cocoapods

## SDK version
Tried with `11.2`, `11.5`, `12.0`, `13.2.0`

## Other information
![image](https://user-images.githubusercontent.com/1120

[2018-10-09 14:45] FahadIqbal commented on #584
i have same issue open stppaymentview controller then try to add new card viewcontroller not dismissing activty indicator on right side jus spinning

[2018-10-16 06:10] calhouncole opened #1028 "Unable to set Apple Pay as default Source when other cards are present."
## Summary

After entering a credit card, I am no longer able to set Apple Pay as my default in the Payment Method View Controller. Because I cannot set it as my default, I must delete all cards before being able to use Apple Pay.

In the

## Code to reproduce

HostViewController.swift:

    required init(coder aDecoder: NSCoder) {
        let config = STPPaymentConfiguration.shared()

        let

[2018-10-16 06:42] edd677 commented on #1028
I'm witnessing this too. Apple Pay is never set as the default payment method. If both a card and Apple Pay have been added, and Apple Pay is used, next launch it defaults to the last used card, not Apple Pay.

[2018-10-16 19:32] danj-stripe commented on #1026
Hi @barfoon,

Sorry about the delay in replying.

Unfortunately, I'm not able to reproduce your issue. The alert displays correctly in our sample project, and the snapshot from Xcode you provided shows that the `UIAlertController` *does* have the correct `title` (so I think it eliminates any potential problems related to the `error.localizedDescription`).

The `presentViewController:animated:compl

[2018-10-16 19:32] #1026 closed

[2018-10-16 19:51] calhouncole commented on #1028
In addition to that, it looks like it is saving a new card for every Apple Pay transaction? I'm assuming this isn't expected behavior?
![screenshot 2018-10-16 12 49 54](https://user-images.githubusercontent.com/5141235/47043298-2692c600-d142-11e8-9ad3-04ee310d02f2.png)

[2018-10-16 23:21] aliriaz-stripe commented on #1028
Hi Cole,
Thanks for writing in!

The STPPaymentContext will retain the customer's selected source between multiple push/present() calls to the same STPPaymentContext instance.

However, if the app is relaunched or the STPPaymentContext is deallocated and created again, the STPCustomerContext will load your customer and their payment sources.
These sources are used to populate the payment methods o

[2018-10-18 23:46] calhouncole commented on #843
FYI, adding a new hostViewController is allowed when the SDK is in Debug mode.....we had a bit of confusion facing this when we switched to production.

[2018-10-22 19:15] provTheodoreNewell opened #1029 "Bug: STPPaymentCardTextField CVC should use error color with 4 digits after card type changes"
## Summary
When typing in the STPPaymentCardTextField, the following steps can lead to a CVC with 4 digits that doesn't turn red:

1. Type an incomplete card number (or a complete card number for an AMEX card, like `3782 8224 6310005`)
2. Tap the expiration part of the field (MM/YY) (or let the cursor move to it after typing a complete card number)
3. Type a valid expiration, like `04/24`
4. The c

[2018-10-22 19:38] provTheodoreNewell opened #1030 "Feature Request: improved VoiceOver support for STPPaymentCardTextField"
The STPPaymentCardField could use some improvements for VoiceOver support.

## Summary
For a user interacting with the `STPPaymentCardTextField` with VoiceOver enabled, the following is desired:
1. While editing the card number part of the field before a complete card number has been entered, the VoiceOver swipe gesture to move focus to the next onscreen element doesn't take the user to the expira

[2018-10-24 18:41] wangjiejacques opened #1032 "Enable deleting selectedPaymentMethod."
## Summary

From the stripe api [documentation](https://stripe.com/docs/api/cards/delete), the user can delete the selected card, but this is not allowed in the sdk, why this ?
[code]

## Code to reproduce
[code]

## iOS version
iOS 12

## Installation method
Pod

## SDK version
13.2.0

[2018-10-26 16:06] DimaKorol opened #1034 "Incorrect cvv validation for amex cards"
As I know the only valid length for amex cards is 4, so 3 is should be invalid

https://github.com/stripe/stripe-ios/blob/46e99bbeb454c9ff435de1b1818c340b0ea60566/Tests/Tests/STPCardValidatorTest.m#L235

[2018-10-26 21:03] aliriaz-stripe commented on #1028
Hi Cole,
Just circling back to your question about multiple cards, that is expected behavior. This is because you get a new card source every time an Apple Pay payment is authorized. This source is then added to the customer and charged.

If you have any more questions, you can write into https://support.stripe.com/email/login
Thanks!

[2018-10-26 21:10] csabol-stripe commented on #1028
We are going to track adding new functionality to allow defaulting to ApplePay internally so closing this issue. Thank you!

[2018-10-26 21:10] #1028 closed

[2018-10-26 22:09] csabol-stripe commented on #1034
Hi @DimaKorol – see #440

[2018-10-26 22:09] #1034 closed

[2018-10-27 01:33] el-quick opened #1035 "Double tap to set a card as default"
As you can see in the gif below, is needed tap twice a card to set that card as default.

![ezgif com-video-to-gif](https://user-images.githubusercontent.com/395027/47598187-ac3e1f00-d955-11e8-9af2-bf31fc8b9b04.gif)

I am presenting the controller of this way:

[code]

... My delegate functions look like:

[code]

It should work with a single tap.

[2018-11-05 10:10] moazkh60 opened #1036 "iOS Making repeated Ephemeral Key calls"
## Summary
Stripe requesting ephemeral key repeatedly on every app restart in iOS App, while on android it's not requesting on every restart which is the correct behavior as the expiry is more. My guess is that there is an issue with the expiry of Ephemeral Key in iOS SDK.

## Code to reproduce

class StripeAPIClient: NSObject, STPEphemeralKeyProvider{

    static let sharedClient = StripeAPIClien

[2018-11-06 11:19] karlr-stripe commented on #1035
Hi there,
I tried to replicate the behaviour you are seeing, but the only way I was able to do so was actually by removing the call to dismiss in the `paymentMethodsViewControllerDidFinish` delegate function. Is it possible that in your code this is also the case? I do not see any other way to reproduce the issue with the code you provided, so is that definitely the delegate code being used in you

[2018-11-06 11:19] #1035 closed

[2018-11-12 06:39] lily-Wan opened #1039 "Getting error: "Your PKPaymentRequest.merchantCapabilities needs be set to the value: PKMerchantCapability3DS""
## Summary

 I have set
``request.merchantCapabilities = PKMerchantCapability3DS | PKMerchantCapabilityCredit | PKMerchantCapabilityDebit |PKMerchantCapabilityEMV;``,
but i still got an error
 ``Your PKPaymentRequest.merchantCapabilities needs be set to the value: PKMerchantCapability3DS``

## Code to reproduce

    PKPaymentRequest *payRequest = [[PKPaymentRequest alloc]init];
    payRequest.coun

[2018-11-14 18:54] danj-stripe commented on #1039
Hi @lily-Wan,

I believe it's erroring due to this line:
[code]

I think it'll start working if you change it to:

[code]

Dan

[2018-11-16 18:08] jvaladez opened #1043 "Bug: STPPaymentCardTextField does not accept Union Pay cards as valid"
## Summary
While using the STPPaymentCardTextField for CC input, a Union Pay card is marked as an invalid CC number.

## Code to reproduce
[code]
Tried to add UnionPay credit card info (6200 0000 0000 0005) but it's marked as red and invalid.

## iOS version
iOS 12

## Installation method
Cocoapods

## SDK version
11.4.0

## Other information

[2018-11-16 18:25] rajishere opened #1044 "Need something like Android sdk's CardMultilineWidget to accept multiline inputs"
## Summary
Need something like Android sdk's CardMultilineWidget to accept multiline inputs

## Other information
Hi Team,

In our app, the experience of adding card details is better when its multiline vs one. We are already consuming something similar to that in Android using the ```com.stripe.android.view.CardMultilineWidget``` widget. Is it possible to take it as a feature request for iOS as w

[2018-11-16 22:21] danj-stripe commented on #1044
Hi @rajishere,

Thanks for the feature request! I've added it to our internal JIRA (IOS-1101).

Thanks,
Dan

[2018-11-16 22:21] #1044 closed

[2018-11-17 00:09] danj-stripe commented on #1036
Hi @moazkh60,

It looks like the `STPCustomerContext` refreshes the ephemeral key every hour, and it'll do it when the app is foregrounded:

https://github.com/stripe/stripe-ios/blob/b787351d6139d4114cfd68d02583420683b21c5f/Stripe/STPEphemeralKeyManager.m#L61-L65

If you're seeing it refresh more frequently, here are some things that might cause it:

1. Are you creating a new `STPCustomerContext`

[2018-11-17 01:56] lily-Wan commented on #1039
I found out that was because  Stripe don't support unionpay in china

[2018-11-17 01:57] #1039 closed

[2018-11-25 18:18] alexgerrese commented on #454
I'm still seeing this error, on the "didFailToLoadWithError" and "didFinishWith" methods. Xcode keeps asking if I want to add the protocol stubs even though I've implemented the methods, and even if I delete them and let Xcode add the protocol stubs for me it still throws the error and asks me again.

[2018-11-25 18:22] alexgerrese opened #1048 "Does not conform to protocol 'STPPaymentContextDelegate'"
## Summary
I have implemented the required protocols for STPPaymentContextDelegate but Xcode keeps asking me to add protocol stubs for "didFailToLoadWithError" and "didFinishWith" methods. When I let Xcode fill in the stubs, the error recursively reappears.

## Code to reproduce
`// MARK: STPPaymentContextDelegate

    func paymentContext(_ paymentContext: STPPaymentContext, didFailToLoadWithError

[2018-11-26 07:13] NutanNiaraula opened #1049 "Unable to change localization of stripe ui from app setting."
I know stripe has localization file for its UI. When I change the device language Norwegian localizations are applied. But I can't find any setting within the library to change this dynamically. Is this not implemented yet or am I missing something?

[2018-11-27 17:58] danj-stripe commented on #1048
Hi @alexgerrese,

I'm having trouble reproducing your issue. I tried Xcode 10.1 (10B61) (since you mentioned you're using the iOS 12.1 SDK), and Xcode's fixit created stubs that caused the compile error to go away. I also tried in our cocoapod installation test project, and it's working correctly there too.

Any chance that cleaning the build folder in Xcode fixes the issue?

I also compared your

[2018-11-29 20:35] aa-stripe commented on #1049
@NutanNiaraula Does your app have a Norwegian localization added to it?

[2018-12-01 10:19] Jay-iTechPioneer opened #1053 "I got error at build time in Xcode Version 10.0 (10A255)"
could not decode input file using specified encoding: Unicode (UTF-16), and the file contents appear to be encoded in Unicode (UTF-8) Localizable.strings

[2018-12-03 16:46] alexgerrese commented on #1048
Cleaning doesn't fix the issue unfortunately.

I'm declaring the stubs in an extension of the ViewController so I thought that might have been the issue, but even when moving them to the original VC file the error persists. I'm importing Stripe in both files, I'm adhering to the STPPaymentContextDelegate, and my stubs are correctly typed, so I'm very confused as to what's going on.

I've even crea

[2018-12-05 23:49] csabol-stripe commented on #1053
@Jay-iTechPioneer we're still on Xcode 9 for internal development but I'll take a look at this as it should be an ~easy fix. Thanks!

[2018-12-06 21:32] csabol-stripe commented on #1053
Should be fixed now. Let me know you if encounter any other issues. Thanks!

[2018-12-11 19:07] liraz opened #1055 "Memory crash on [STPFormTextField setDelegate:] KVO_IS_RETAINING_ALL_OBSERVERS"
## Summary
Device crashes on memory issue when memory is very low - 3% of memory is available.

## Code to reproduce
We don't have concise steps to reproduce this, it just happens after a decent amount of time with the phone and memory is very low.

**EDIT:**
We do have way to reproduce it very easy, check the following project:
https://github.com/driivz/stripe-leak-test/

## iOS version
iPhone 6

[2018-12-11 22:38] danj-stripe commented on #1055
Hi @liraz,

Thanks for the bug report.  It looks like this is a KVO-related crash, and to my knowledge the stripe-ios SDK doesn't use KVO.

I do see some KVO-usage in the XLForm library, and I see you've got a view controller and `DRCreditCardFieldCell` involved in the stack trace too. It might be a bug in that code, or it might be a bug triggered by an interaction with `STPPaymentCardTextField`.

[2018-12-11 22:56] liraz commented on #1055
Hey @danj-stripe,

Thank you for this fast response!
After some memory profiling - it seems you are right, XLForm has many memory leaks and we decided to remove it from our app.

Closing this issue since it is not a leak in the Stripe library.

[2018-12-11 22:58] danj-stripe commented on #1048
Hi @alexgerrese,

I don't think there's anything I can do to help.

You might try creating a brand new project and installing the Stripe pod via cocoapods. You should be able to verify that your `StripeTest` class is correct by putting it into that new project. (I did, and it works for me, other than the placeholders).

That'd also give you a point of reference for comparing if there are any diffe

[2018-12-11 22:58] #1048 closed

[2018-12-11 22:59] #1036 closed

[2018-12-11 23:00] #1043 closed

[2018-12-14 09:41] gleyd opened #1056 "Problem when i'm trying to add a card with pushPaymentMethodsViewController()"
## Summary

Hello, when i use the controller self.paymentContext?.pushPaymentMethodsViewController(), i can get the credit cards of an user, i can delete credit cards of an user, but when i'm trying to add credit card, i put all info and click "ok", i have a infinite spinner load and i cannot add card. i already used this code in august, this code worked. Can you help me please ?

## Code to repro

[2018-12-14 22:14] danj-stripe commented on #1056
Hi @gleyd,

I understand that you're getting an infinite spinner while trying to use the Add Card functionality of the SDK. The code sample you've provided looks reasonable, so I'm not sure what's going wrong.

You should reach out to Stripe support using one of the options at https://support.stripe.com/ and they can help you figure this out.

Dan

[2018-12-14 22:14] #1056 closed

[2018-12-16 21:03] dajdouj10 opened #1057 "How get STPPaymentContext attributes in Controllers , i would like to get "customerContext.customer.stripeID""
## Summary

## Code to reproduce

## iOS version

## Installation method

## SDK version

## Other information

[2018-12-19 13:07] gleyd commented on #1056
i delete this extension in my code, for resolve this problem

extension STPAddCardViewController {

    // We can't swizzle in initialize because it's been deprecated in Swift 3.1.
    // Instead, we have to call this method before STPAddCardViewController appears.
    static func startMockingAPIClient() {
        let originalSelector = #selector(apiClient)
        let swizzledSelector = #selector

[2018-12-19 13:16] gleyd opened #1058 "Change color button on PaymentMethodsViewController and AddCardViewController"
## Summary
Hello,
How can I change textColor on button in navBar at PaymentMethodsViewController and AddCardViewController ?
Thank you
## iOS version
12.0.1
## Installation method
Pod

## SDK version
14.0.0

[2018-12-19 18:01] danj-stripe commented on #1056
Thanks for the update, and I'm glad you figured it out. That definitely looks like it'd break things.

[2018-12-26 05:02] korsour commented on #885
Any update?

[2019-01-04 16:07] annphan commented on #1053
@csabol-stripe Any ideas why I have just downloaded latest code but still have this issue. I have checked the file you made changes but it still doesn't work for me. I am using Xcode 10.1 (10B61)

[2019-01-07 18:50] csabol-stripe commented on #1053
@annphan sorry you're still seeing issues. To clarify you are still getting a "could not decode input file using specified encoding" issue?

[2019-01-10 08:04] zuchie commented on #1053
Xcode sees UTF-8 encoded contents in file `Localizable.strings (Norwegian Bokmal)`, changing from UTF-16 to UTF-8 in File inspector-Text Settings-Text Encoding could be a temp solution.

[2019-01-10 21:51] csabol-stripe commented on #1053
ah, yeah Norwegian Bokmal came from a different localization source so I missed that on my last update for this. PR is out

[2019-01-11 18:47] #1053 closed

[2019-01-16 06:30] jackcsk opened #1125 "Postal code required for Saudi Arabia (countryCode: SA)"
## Summary
Saudi Arabia has a postal code, but the STPPostalCodeValidator.countriesWithNoPostalCodes array listed it as one of those without:
https://github.com/stripe/stripe-ios/blob/master/Stripe/STPPostalCodeValidator.m

## Code to reproduce
n/a

## iOS version
any

## Installation method
cocoapods

## SDK version
14.0.0

## Other information
  - references
    - https://address.gov.sa/en/addre

[2019-01-19 05:15] himanshuvankar opened #1126 "it is autometically added scan card button. How can I disable That button In Swift 4???"
## Summary
i just integrated stripe for payment that was runninng fine.but when I install a app on device that was show me a "Scan Card" button. When i tapped that button open a card scanner and that was not working fine. so how can i disable that "Scan Card" button????

## Code to reproduce
import Stripe
if paymentMethodCode == "stripe"{
                let theme = STPTheme()
                them

[2019-01-22 18:41] csabol-stripe commented on #1058
Hi @gleyd,
The navigation bar button items are stylized with `STPTheme` using the `accentColor`, `secondaryForegroundColor`, `font`, and `emphasisFont`. Feel free to contact our support if you experience any issues getting this setup! cc: @aliriaz-stripe @fred-stripe

[2019-01-22 18:41] #1058 closed

[2019-01-22 18:53] csabol-stripe commented on #1125
Thanks for the report! Merged a fix

[2019-01-22 18:53] #1125 closed

[2019-01-22 22:33] aliriaz-stripe commented on #1126
Hi himanshuvankar,
Unfortunately, at this time, the SDK doesn't support disabling/hiding the Scan Card button.
One possible approach you could opt for in your application is to swizzle the `scanReadCardWithCamera` method and return false.
Hope that helps!

[2019-01-22 22:33] #1126 closed

[2019-01-22 22:51] aliriaz-stripe commented on #1057
Hi dajdouj10,
STPCustomerContext doesn't expose its STPCustomer property publicly, instead it handles all customer updates through ephemeral keys.
If you are already using STPCustomerContext and implementing its delegate, you can get the customer ID from the ephemeral key response.
If you have more questions, do write in to https://support.stripe.com/email and we'd be happy to help you out there!

[2019-01-22 22:51] #1057 closed

[2019-01-23 20:47] provTheodoreNewell commented on #1029
Awesome, thanks @csabol-stripe!

[2019-01-30 23:32] toddgower-hiatus commented on #918
any update on this issue?

[2019-01-31 20:37] marcglasberg opened #1129 "Port Stripe-iOS to Flutter"
We need Stripe-iOS ported to Google's [Flutter](https://flutter.io/).

There are 2 ways of doing that:

1. One is to use platform-channels, so that a Dart layer interfaces with the original Stripe-iOS code, in Swift or Objective-C (see: https://flutter.io/docs/development/platform-integration/platform-channels).

2. Another is to port it to native Dart.

Note: Since Flutter is for iOS and Android,

[2019-02-03 21:16] tmaly1980 commented on #918
I've been recommended by Stripe's Tech Support to upgrade my API version, which is hardcoded in this library. Is there a way to override this? Can I somehow set the Stripe-Version header from my iOS code?

[2019-02-05 01:19] jolson474 opened #1130 "STPAddCardViewController top spacing on iOS9"
## Summary

On iOS 9 the STPAddAddCardViewController content is up behind the nav bar without an inset which results in the card icon being clipped.   This does not occur on iOS 12.  (Suspect iOS 10 as well, but am not able to verify that)

Not a huge deal, but thought you'd want to deliver best possible experience to users.

## Code to reproduce

Bring up STPAddCardViewController on iOS9 (e.g. `s

[2019-02-06 00:39] csabol-stripe commented on #1130
@jolson474 Thanks for the report -- this is definitely something I'd like to fix in the next release and am tracking internally

[2019-02-06 00:40] csabol-stripe commented on #1129
@marcglasberg Thanks for the info and request! As @mshafrir-stripe mentioned, we likely won't have time to look at this in the near term, but I've filed an additional internal ticket to track investigating this for iOS

[2019-02-07 17:32] liraz commented on #1055
We received another crash, that seems to be exactly like the previous crash:
[code]

[2019-02-07 23:23] danj-stripe commented on #1055
Hi @liraz,

I appreciate all the effort you've put into isolating this. The sample project is really useful.

## Leak 1

I haven't used https://github.com/Tencent/MLeaksFinder before, but it looks like it's hooking into the UINavController lifecycle and looking for subviews that aren't released while popping the `TESTTableViewController`, and is flagging the `STPFormTextField` as still being alive

[2019-02-10 15:26] liraz commented on #1055
Hey @danj-stripe,
Thanks for the fast and detailed response!

we decided to downgrade Stripe lib to version "13.2.0" and let's see how it goes.
but we can see very clearly that as soon as we released a version with 14.0.0 memory crashes started to come up like crazy.

And it can't be related to XLForm because we had this library way before the change to 14.0.0 and app was very stable.
Yes, XLForm

[2019-02-11 06:01] Repair-Desk opened #1134 "Stdc++ file issue"
Unfortunately we are not able to use libstdc++.6.0.9. lib file in Xcode 10 and your "Stripe" integration still using it . if Stripe want to set any other manually setting then we are ready to go with that but we need permanent solutions on that
I am using  pod 'Stripe'

if you have to suggest any version where it is fixed then it would be great for us

[2019-02-11 17:27] marcus-hiles commented on #817
Hi had same issue, but got mine to work!!!

Here's what I did:
In the CheckoutViewController.swift stripe file, I modified the lines codes below

@objc func didTapBuy() {
        self.paymentInProgress = true
        self.paymentContext.requestPayment()
}

TO:

@objc func didTapBuy() {
        self.paymentInProgress = true
        self.newMethodToProcessPayment(amount: self.paymentAmount,

[2019-02-11 17:36] marcus-hiles commented on #526
Hi I got mine to work!!!!!
Here's a link to the solution.
https://github.com/stripe/stripe-ios/issues/817#issuecomment-462417169

Checkout more about me from https://marcus-hiles.com/

[2019-02-13 00:23] csabol-stripe commented on #1134
Hi @Repair-Desk ,
Could you clarify which version of the SDK you are currently integrating with? We already have `CLANG_CXX_LIBRARY = libc++` for our build configuration so I wouldn't expect this to be an issue. In the meantime it sounds like you can copy libstdc++ from Xcode 9 to unblock (e.g. https://stackoverflow.com/questions/50694822/xcode-10-ios-12-does-not-contain-libstdc6-0-9)

[2019-02-14 10:49] osrl commented on #254
Hello, any update on this? STPFormTextField is still private. `CardNumberEditText` and  `ExpiryDateEditText` are public and works great on Android. It's a bit disappointing that it's not available on iOS :(

[2019-02-14 11:01] osrl opened #1135 "STPFormTextField should be public"
## Summary
STPFormTextField and it's companion classes should be public. It's very common to use a custom ui instead of `STPPaymentCardTextField`

## Other information
Controls like `CardNumberEditText` and `ExpiryDateEditText` are already public on Android and it was very easy to use them for a custom ui. It's a bit disappointing that I should copy paste the source to my project.

Is there an ETA

[2019-02-15 16:01] troypayne opened #1136 "STPPaymentCardTextField w/ appropriate keyboard for iPad"
I've tried using a plug-in-play custom keyboard along with STPPaymentCardTextField for iPad but it doesn't play nicely. This custom keyboard simply uses very large numeric buttons for easy input. I think this would be a nice value add if automatically baked in

[2019-02-15 18:05] csabol-stripe commented on #1135
Hi @osrl,

I don't have an ETA right now, but I've added this to our internal project planning and we'll work on getting it scheduled. Thanks for the request!

[2019-02-15 18:08] csabol-stripe commented on #1136
Hi @troypayne,

Are you using a third-party keyboard, i.e. not the standard iOS one? If so could you share which keyboard you're using so we can take a look at our end? Any screenshots you could provide would also be greatly appreciated :)

[2019-02-15 18:16] troypayne commented on #1136
@csabol-stripe not a custom hardware keyboard, custom software keyboard. I've attached a screenshot of a similar product that uses a custom soft keyboard for this very thing. Since we're actively building a POS with the new Stripe Terminal, it's nice to have this option for speed whenever card reader issues come up.

See attached:
![img_0014 1](https://user-images.githubusercontent.com/3412692/528

[2019-02-17 21:26] brittanyblair opened #1137 "Customer is unable to select Apple Pay as payment method after they've added cards? (Obj-c)"
Hi Stripe,

I've integrated the Stripe iOS SDK into my app, and everything works as it should... EXCEPT, once my customer has added a new card to their profile (customer id), they are then unable to select Apple Pay as their method of preferred payment again? If any more than 1 card is present, users are unable to re-select Apple Pay.

Is this normal?

[2019-02-18 21:59] matibzurovski opened #1138 "Check if stored card supports 3D Secure"
## Summary
I am working on an app that allows the user to add credit cards and make payments with them later. The flow is pretty simple:
- User adds the new card details on the app.
- App generates a token with the `STPAPIClient`, and stores the object in the server. We keep the `token`, `name` and `expirationDate`. But we don't keep the `number` nor the `cvc` for security reasons.
- User makes a

[2019-02-19 16:43] aliriaz-stripe commented on #1137
Hi Brittany,
That is not expected behavior. I ran a quick test on my end, I'm not experiencing the issue you describe, i.e. I'm able to select Apple Pay after adding a new card to the Stripe Customer.

This seems like an integration issue so we'll be able to assist you better if you write in to `https://support.stripe.com/`.

When you write in, it would be helpful if you provide details on:
- Step

[2019-02-19 16:43] #1137 closed

[2019-02-19 18:50] aliriaz-stripe commented on #1138
Hi Matias,
You should create STPSource from the user's card details in order to use 3DS. You can the `createCardSources` flag on `STPPaymentConfiguration` to default to creating STPSource objects instead of the default STPCard objects (if using Stripe's view controllers to collect card details).

You can then retrieve the Source using `STPAPIClient.shared().retrieveSourceWithId()` to retrieve the

[2019-02-19 18:50] #1138 closed

[2019-02-21 17:06] veerChauhan commented on #990
Payment method with PayPal

[2019-03-12 18:50] lightninglu10 opened #1144 "Custom Source"
According to the Stripe docs, we can create a custom source. Since the stripe SDK doesn't have wechat, we want to create the source with wechat.

The Android SDK exposes this method: https://github.com/stripe/stripe-android/blob/master/stripe/src/main/java/com/stripe/android/model/SourceParams.java#L238-L240

To create a custom source. Does the iOS SDK have something similar? It looks like there's

[2019-03-18 23:40] csabol-stripe commented on #1032
Fix is in master. Thanks!

[2019-03-18 23:40] #1032 closed

[2019-03-19 11:31] alexis-letexier opened #1150 "[Stripe SDK 14.0] Standard integration saving cards automatically"
Hello,

I'm using the standard integration to handle the payments methods of a customer (using `STPBackendAPIAdapter` for now).

When a user add and select a payment method, the Stripe SDK will automatically save the source to the stripe customer account. For legal purposes we want the approval of the customer to save his card to his stripe account or not save the card at all if possible.

Can we

[2019-03-21 09:02] MaiquanNguyen opened #1153 "Dont get any payment methods beside apple pay and credit cards using build-in UI"
<img width="1092" alt="payment methods" src="https://user-images.githubusercontent.com/4607287/54741771-08019100-4bf2-11e9-9b82-8a4cc2cb60f2.png">

I am following the instruction from here https://stripe.com/docs/mobile/ios, but beside apple pay and credit cards, other payment methods does not appear. Although i already enable them in dashboard.
When creating stripe customer, we only set email for

[2019-04-02 14:23] attheodo opened #1154 "ERROR ITMS-90535: "Unexpected CFBundleExecutable Key""
## Summary
Started ITMS getting errors when trying to upload our app to App Store Connect.

[code]

## Installation method
[code]
Same problem with the last stable Cocoapods.

## SDK version
[code]
Xcode 10.2 - Swift 5.0

- We've checked that we do not have any items in the `Copy Bundle Resources` (like any .plist files or Target Support Files) build phase that might result in this issue.
- We've

[2019-04-02 19:25] attheodo commented on #1154
Looks like this was a result of the project ending up misconfigured. Not sure how it ended up like so but de-integrating pods and re-install them seems to have fixed the issue:

[code]

[2019-04-04 23:34] giorgio80 opened #1155 "STPPaymentOption and AddcardViewcontrollerdelegate"
## Summary
I was using before the STPAddcardviewcontroller delegate to intercept when a user has added a card and read the generated token .   I need to do that as my payment process is managed in backend.

We passed now to STPPaymentOptionViewcontroller as it is more easy to manage ( user can add and remove cards and manage defaults)

We have no way to intercept STPAddcardviewcontroller delegate

[2019-04-07 12:40] attheodo commented on #1154
Any updates on this? This is really blocking our whole release process. Thanks!

[2019-04-08 04:01] rromanchuk commented on #1154
+1

[2019-04-09 12:13] slhodson969 commented on #1154
+1

This is now blocking our release

[2019-04-09 23:48] rromanchuk commented on #1154
@attheodo @slhodson969 have you guys spent any more time investigating this? it's strange because I can cut a release via fastlane locally without issue, it's only on `circleci` where i'm getting this.... The environment is locked down (should be at least) to the same as development/local environments, so there shouldn't be **that** many variables involved, it has to be something subtle.

[2019-04-10 00:11] attheodo commented on #1154
@rromanchuk I haven't had the time yet. I was hoping for something quick from Stripe's end since they probably have more bandwidth but since has dragged us for about a week now, I'll probably spend some time investigating.

I am wondering what the hell it could be on CI that's mutating .plist files post-build; really weird. We don't even install/configure pods, we have them pre-commited and config

[2019-04-10 00:57] rromanchuk commented on #1154
@attheodo that's funny, we also have our pods committed, did it to avoid complexity. I'm using their `10.2` image, but our config is insane because it's a ton of work to get `2.6.3` installed, some brew utilities, bundler, etc etc... and then make a best effort to cache so builds don't take 14 hours. My lockfiles are locked to ruby version and i didn't want to compromise just for CI.

I should run

[2019-04-10 12:53] jspargo commented on #1154
@rromanchuk @attheodo we hit a similar issue and it was because CircleCI are not using the release version of Xcode 10.2, they're still using Xcode 10.2 Beta 3 (Apple don't allow uploads to App Store Connect from beta versions of Xcode). There's some more info [here](https://discuss.circleci.com/t/unexpected-cfbundleexecutable-key-the-bundle-at-payload-myapp-app-firebaseauthui-bundle-does-not-cont

[2019-04-10 12:57] jspargo commented on #1154
I should also add - there is a workaround (I've not tried) that uses xcode-install to remove 10.2, then reinstall it (which fetches the release version): https://gist.github.com/lokst/3985c1d7610afde9f8a75b79a36496ed

[2019-04-10 12:59] attheodo commented on #1154
@jspargo that's really helpful info. I didn't realize Xcode on CircleCI is a beta version. According to the [manifest](https://circle-macos-docs.s3.amazonaws.com/image-manifest/build-520/index.html) it's not.

[2019-04-10 13:03] jspargo commented on #1154
@attheodo yeh, it's really badly labelled in the manifest as it says:
[code]
but according to https://xcodereleases.com/ these are the builds for Xcode 10.2:
[code]

[2019-04-10 13:04] attheodo commented on #1154
Right 🤦‍♂️ ... Looks like this is not on the Stripe-folks end.

[2019-04-10 13:04] #1154 closed

[2019-04-10 18:06] edenman commented on #886
@bg-stripe hey sorry, just coming back to this: this is still really annoying.  I can't use #pragma in Swift afaict, so I just have this warning forever in my app.  And I can't figure out how to call `[STPCard new]` either to avoid this.  I get why you want to discourage people from using this constructor, but given the limitations of Swift tooling, could we maybe make an exception here and un-dep

[2019-04-18 12:29] RobinSiep opened #1163 "Received unknown parameter error when confirming PaymentIntent using SDK"
## Summary
I'm encountering an issue when confirming a payment intent (by calling `STPAPIClient.shared().confirmPaymentIntent()`). I'm trying to use a credit card as a payment method.

[code]

Although I'm not quite sure, I think this might be a bug. Apologies if I'm actually just misunderstanding something but I believe I'm just following the steps laid out in the documentation. As I'm using the

[2019-04-18 16:55] aliriaz-stripe commented on #1163
Hi @RobinSiep , thanks for writing in!
This was a bug on v15.0.0, the fix made it in to v15.0.1, upgrading to v15.0.1 should work for you!

[2019-04-18 16:55] #1163 closed

[2019-04-18 17:00] aliriaz-stripe commented on #1153
Hi @ MaiquanNguyen , currently STPPaymentOptionsViewController only supports Apple Pay and cards at the moment.
STPCard, STPSource and STPApplePay are the only supported STPPaymentOptions [0] on STPPaymentOptionsViewController.

[0] https://stripe.dev/stripe-ios/docs/Protocols/STPPaymentOption.html

[2019-04-18 17:00] #1153 closed

[2019-04-18 20:02] rynop opened #1164 "Examples `./setup.sh` failing to build due to incorrect SWIFT_VERSION"
## Summary
xcode `v10.2`
carthage `0.33.0`

## Code to reproduce
Clone repo, run `./setup.sh`

Produces this log:

[code]

## iOS version
`12.2`

## Installation method

`setup.sh`

## SDK version
`static NSString *const STPSDKVersion = @"15.0.1";`

## Other information

A bit unrelated, but I'm trying to POC apple pay.  Just want to confirm I need to change the bundle ID in Xcode before turning o

[2019-04-19 02:06] bryanboyko opened #1165 "Payment context payment options vc appears but never loads"
## Summary
paymentContext.presentPaymentOptionsViewController() presents a vc modally that shows loading state and never finishes loading. No errors are logged at all while XCode is running the app, including when each of the below three steps take place.

## Code to reproduce

1. Build STPCustomerEphemeralKeyProvider and corresponding endpoint.

2. Setup STPCustomerContext and STPPaymentContext

[2019-04-19 08:56] RobinSiep commented on #1163
Updating to v15.0.1 did the trick, thanks for the fast response!

[2019-04-19 17:01] aliriaz-stripe commented on #1155
Hi @giorgio80 , when a new card is added to the STPAddCardViewController (that is presented by an STPPaymentOptionsViewController), it triggers the didSelect() [0] method on STPPaymentOptionsViewControllerDelegate.

[0] https://stripe.dev/stripe-ios/docs/Protocols/STPPaymentOptionsViewControllerDelegate.html#/c:objc(pl)STPPaymentOptionsViewControllerDelegate(im)paymentOptionsViewController:didSele

[2019-04-19 17:01] #1155 closed

[2019-04-19 17:33] aliriaz-stripe commented on #1165
Hi @bryanboyko , I tried to reproduce by following the steps you listed but I'm not able to reproduce this issue on my end.

Usually, The STPPaymentOptionsViewController constantly loading hints at an issue with the way you're implementing the createCustomerKey() delegate method on STPCustomerEphemeralKeyProvider. That would mean STPCustomerContext was not able to pre-fetch the customer.
You can r

[2019-04-19 17:33] #1165 closed

[2019-04-24 08:37] ibhavin opened #1166 "How to retrieve error from STPAddCardViewController didCreateToken"
I have implemented `STPAddCardViewControllerDelegate` method as below:
[code]

Now, I want to know that if I got error in this method then how can I retrieve it.
I have to send tokenId, error or success message to my backend.

[2019-04-24 12:49] ir-fuel opened #1167 "No cursor being shown on STPAddCardViewController"
This is using v15.0.1 (and was already the case in previous versions).

When showing `STPAddCardViewController` the fields do not contain a cursor. This is confusing for the user when there are multiple fields to fill out. I also did not find any property to modify this in the `STPTheme` class.

In the first screenshot I have the focus on the card number field, in the second one on the name field.

[2019-04-24 12:52] ir-fuel opened #1168 "STPAddCardViewController Done button never in disabled state, but is disabled"
Version: 15.0.1

When using an `STPAddCardViewController` the `Done` button always looks as if it is enabled, even if the data to be sent out is incomplete. The behaviour is correct (the `Done` button does not respond to taps as long as all info isn't filled out) but it's confusing to the user because it looks as if `Done` can be pressed at all times (as you can with `Cancel` on the left hand side

[2019-04-24 14:26] ir-fuel commented on #1166
I don't think you'll ever encounter an error where this will be called.

[2019-04-26 02:04] OzMaz opened #1169 "Task failed with exit code 65:"
## Summary

Trying to run the Standard and Custom Integrations

## Code to reproduce

as per instructions:

- I open the terminal and cd to `Antonys-MacBook-Pro-2:stripe-ios-master tony$ `

- I type `./setup.sh`

## iOS version

12.2

## Installation method

n/a

## SDK version

github "Alamofire/Alamofire" "4.4.0"
github "stripe/stripe-ios" "v15.0.1"

## Other information

*** Building scheme "Al

[2019-04-26 03:29] #1169 closed

[2019-04-26 13:01] realityworks opened #1170 "createTokenWithConnectAccount uses old BETA Connect SDK - Cannot Create Connect Account"
## Summary

This is the current body of what the function sends :
account[legal_entity][address][city]=SUFFERN&account[legal_entity][address][country]=US&account[legal_entity][address][line1]=250%20ROUTE%2059&account[legal_entity][address][line2]=&account[legal_entity][address][postal_code]=10901-5315&account[legal_entity][address][state]=NY&account[legal_entity][dob][day]=26&account[legal_entity]

[2019-04-26 13:02] realityworks commented on #1170
SDK Version 15.0.1

We are going to fork this framework as it looks like it's a bit behind and likely fix it ourselves. :)

[2019-04-26 16:08] aliriaz-stripe commented on #1168
Hi ir-fuel, on the vanilla version of STPAddCardViewController, the Done button does have a disabled state. Could you share how you are customizing the view controller on your end?

[2019-04-27 09:01] ir-fuel commented on #1168
This is what I do in my appDelegate

[code]

And I present the viewcontroller like this:
[code]

[2019-04-27 17:07] 7er0 opened #1171 "Subscriptions with Connect"
I am allowing my users to create plans on their stripe accounts, I understand that they have to do so on their own stripe accounts with the header:

[code]

I managed to do that so far, however, when trying to delete that plan with the standard API method for deleting a plan, I get the error: "No such plan: plan_XXX"

So, I tried the following (again with an account header):

[code]

However, this

[2019-04-27 21:35] aliriaz-stripe commented on #1171
Hi 7er0, thanks for writing in!

This question is better suited to the Support team at https://support.stripe.com/contact , Please write in, the team there will be able to help you out! Also include the entire error message you're seeing.

Closing this issue as it isn't related to stripe-ios repo.

[2019-04-27 21:35] #1171 closed

[2019-04-27 22:14] aliriaz-stripe commented on #1168
Hi @ir-fuel , thanks for providing that!

The navigation bar button's disabled state is set from with `secondaryForegroundColor`. Currently, looks like you're setting both it and the `accentColor` to white, so it stays solid white in both cases. You should leave that out or set it to gray to see the disabled state.

[2019-04-27 22:14] #1168 closed

[2019-05-02 10:22] ajithkumark771 opened #1174 "Payment intent not supported in stripe 15.0.1 sdk"
Not redirecting to safari for getting OTP. Flow goes to the else case which shows payment intent action not supported by sdk. In below code , checking redirectcontext goes to the else case

[code]

[2019-05-03 11:13] onmyway133 opened #1175 "How to change selected payment option?"
## Summary
Here is the documentation for `requestPayment`

What I expect
- Calling `requestPayment`
- Show selected payment options UI, as I have 3 cards and Apple Pay option
- User select one option and the method reacts accordingly

What I see
- No UI shown
- The payment was made with the default selected payment

## Code to reproduce
Thanks that this project is open source, I can dig into the s

[2019-05-05 02:45] guyinsheng opened #1176 "sometimes token is return nil without error when call createTokenWithCard method"
## Summary
sometimes token is return nil, error is also nil, sometimes everything is normal.

## Code to reproduce
[STPAPIClient sharedClient] createTokenWithCard:cardParams

## iOS version
12.2

## Installation method
- (BOOL)application:(UIApplication *)application didFinishLaunchingWithOptions:(NSDictionary *)launchOptions {
    [[STPPaymentConfiguration sharedConfiguration] setPublishableKey:@

[2019-05-06 06:56] ajithkumark771 commented on #1023
I'm facing same problem in stripe sdk 15.0.1 . The return url was correct  ,but checking it on stripeHandle returns false which expected to return true.
url->  appName://stripe-redirect?payment_intent=pi_1EWzqLD4QE47FF1gaM1I&payment_intent_client_secret=pi_WFFFFV4554DDH5uxO4qjqSK&source_type=card

[2019-05-06 21:24] siilats commented on #1028
Is this implemented?

[2019-05-07 06:12] #1166 closed

[2019-05-08 19:12] Pahitos opened #1179 "Carthage and Xcode build fails due to file name and reference mismatch."
## Summary
- Build fails because Xcode can't find a file due do a name/reference mismatch.
- Here the files on the left end with `iDEAL`, the references to the file on disk (on the right) also end with `iDEAL`, but the underlying file when you open the folder is named `Ideal`.
<img width="1308" alt="image" src="https://user-images.githubusercontent.com/18669007/57400923-96ca6d00-71a2-11e9-86b3-147

[2019-05-10 07:09] chopper6667 opened #1180 "High price acquisition apple enterprise developer account"
公司项目紧急高价收购一个苹果企业账号，出手的可以加我QQ 542357086
Company project urgent ，need one apple enterprise developer account ，if you want to sell ，Feel free to contact me
skype 634242887@qq.com
email 634242887@qq.com
telegram  ypjovi

[2019-05-11 15:45] jchekanoff commented on #1164
I'm also experiencing this issue. Were you able to find a resolution?

[2019-05-12 15:04] spacemonkey92 commented on #1174
@ajithkumark771
I have the same issue. Any update?

[2019-05-13 04:54] ajithkumark771 commented on #1174
Hi,
  My issue is resolved automatically without making any change in code .
Now I'm facing problem with return URL. Can you briefly explain please
explain . I can help you with my code and reply mail mail from stripe
support.

On Sun, May 12, 2019 at 8:34 PM Nitin Muthyala <notifications@github.com>
wrote:

[2019-05-13 13:52] yoitsro commented on #1174
I'm trying to retrieve a `PaymentIntent` with `STPAPIClient.shared().retrievePaymentIntent`, and the response does not return an error, but instead, when printing the `paymentIntent` response, this is what's printed:

[code]

I'd guess this is associated to the issues above. Any ideas?

[2019-05-13 14:16] yoitsro commented on #1174
I'm also experiencing this problem. Any ideas?

[2019-05-13 22:27] yuki-stripe commented on #1179
Hey @Pahitos!  Could you also show the build failure?  I'm unable to repro this.

[2019-05-13 22:37] Pahitos commented on #1179
@yuki-stripe we had to fix this issue by manually renaming the files in Xcode. If you look at the `STPPaymentMethodiDEAL` file (and a few others with `iDEAL` suffix), it's greyed out. Not exactly sure why, but on one of our fresh computers that we were setting up didn't like that and basically wouldn't build because a file was "missing".

[2019-05-13 22:42] yuki-stripe commented on #1164
Hey @rynop, thanks for reporting!

Xcode 10.2 removed support for Swift 3, could you try changing the AlamoFire version in `Example/Cartfile` to a version on Swift 4 or higher like `4.8.2`?

[2019-05-13 23:11] yuki-stripe commented on #1179
@Pahitos Interesting!  I'm going to close the issue then, but by default the macOS filesystem is case insensitive - I wonder if that machine's filesystem isn't.

[2019-05-13 23:11] #1179 closed

[2019-05-13 23:54] jchekanoff commented on #1164
@yuki-stripe this worked great for me. I made a PR. Thank you so much!

[2019-05-14 07:38] CarlosCondor commented on #918
any update?

[2019-05-18 14:39] ir-fuel opened #1183 "handleURLCallback returns false with 3d secure test card"
I am having the an issue using the 4000 0000 0000 3220 test card.

This is the url being sent to my app:

`myapp://stripe-redirect?payment_intent=pi_1EbTOoLUYJ3xCVptrGLZNDjt&payment_intent_client_secret=pi_1EbTOoLUYJ3xCVptrGLZNDjt_secret_QwtA6qGlxBNdGKIy8GA6TGmbV&source_type=card`

When I run
`let stripeHandled = Stripe.handleURLCallback(with: url)`

the result is `false`, however on server side i

[2019-05-20 05:50] borut-t opened #1184 "STPPaymentOptionsInternalViewController crashing"
## Summary
STPPaymentOptionsInternalViewController is crashing due to wrong update index paths when selecting a payment cell.

## Code to reproduce
n/a

## iOS version
12.x

## Installation method
Cocoapods

## SDK version
15.0.0

## Other information

[code]

[2019-05-20 10:55] ChrisLahaye commented on #1170
@realityworks could you contribute your change to this repo?

[2019-05-20 12:51] realityworks commented on #1170
Hi @ChrisLahaye I already have and I provided a pull request, it's awaiting review.

[2019-05-20 14:07] ChrisLahaye commented on #1170
@realityworks Great thank you! I have contacted support regarding this issue with a reference to this issue.

[2019-05-20 14:09] realityworks commented on #1170
No worries Chris. We needed it done anyway so you the Stripe team might end up using some of the code changes. The fork supports both methods (old and new).

[2019-05-20 18:56] aliriaz-stripe commented on #1183
Hi @ir-fuel , thanks for writing in!

I'll be closing this as this looks like an integration issue (and not an SDK issue), so will continue handling this over Support email.

[2019-05-20 18:56] #1183 closed

[2019-05-20 18:58] ir-fuel commented on #1183
To me it looks like a bug in the SDK, but ok :)

[2019-05-20 22:31] aliriaz-stripe commented on #1174
Hi all, appreciate everyone writing in!

I'll be closing this as this isn't an SDK issue/bug but rather an integration issue.
If you have this issue, please write in to https://support.stripe.com/contact and we'll help you out!

[2019-05-20 22:31] #1174 closed

[2019-05-21 11:57] yoitsro commented on #1174
@ajithkumark771 @spacemonkey92 To fix this, ensure you're confirming your payment intent using `STPAPIClient.shared().confirmPaymentIntent()` and make sure your payment intent has `returnURL` set.

[2019-05-21 20:57] csabol-stripe commented on #918
We are working on updating the binded API version for our next release. We do not currently plan to support manually setting the preferred API version

[2019-05-21 21:00] csabol-stripe commented on #1023
Hi @ajithkumark771, would you be able to supply some code to reproduce the issue you are seeing? Also feel free to bring this up with our support team at https://support.stripe.com/contact

[2019-05-21 21:01] csabol-stripe commented on #1049
Gonna close this one. If you are still experiencing an issue with localization you can reach out to our support team at https://support.stripe.com/contact

[2019-05-21 21:01] #1049 closed

[2019-05-21 21:03] csabol-stripe commented on #1055
Hi @liraz , any update on if you're still having issues here?

[2019-05-21 21:05] #1134 closed

[2019-05-21 21:09] csabol-stripe commented on #1136
@troypayne I've filed an internal ticket for us to track potentially adding something like this in the future, but as it's not currently scheduled I'm going to close this issue. If there is an issue integrating with a specific custom keyboard that you are trying to use let us know and we'll see what we can do :)

[2019-05-21 21:09] #1136 closed

[2019-05-21 21:15] csabol-stripe commented on #1144
Hi @lightninglu10 ! Sorry we have not responded yet! You should be able to leave the `type` property of `STPSourceParams` as `STPSourceTypeUnknown` and then call `-(void)createSourceWithParams:(STPSourceParams *)params completion:(STPSourceCompletionBlock)completion` on `STPAPIClient`. We are also working on adding native wechat pay support

[2019-05-21 21:15] #1144 closed

[2019-05-21 21:21] liraz commented on #1055
Hey @csabol-stripe,

seems like all the leaks were introduced from the XLForm library.
we corrected all the memory issues XLForm library had, and also submitted our pull-request, and it got accepted by repo owner.

Since these fixes we have months now without any crashes almost - nothing from XLForm anyway.
So it proved to be very successful,

thank you.

[2019-05-21 21:21] #1055 closed

[2019-05-21 21:24] csabol-stripe commented on #1150
Hi @alexis-letexier, to do this you would have to use a custom implementation of `STPBackendAPIAdapter` instead of using the provided `STPCustomerContext`. You could then override `- (void)attachSourceToCustomer:(id<STPSourceProtocol>)source completion:(STPErrorBlock)completion` to prompt the customer and initialize your `STPPaymentContext` with your custom API adapter `- (instancetype)initWithAPI

[2019-05-21 21:24] #1150 closed

[2019-05-21 21:24] #1164 closed

[2019-05-21 21:36] csabol-stripe commented on #1167
Hi @ir-fuel, I've verified that I'm seeing the cursor on the add card screen in our Standard Integration app. Could you provide additional reproduction steps?

[2019-05-21 21:37] csabol-stripe commented on #1170
@realityworks @ChrisLahaye sorry we haven't commented here yet. We are working on updating the pinned API version in this SDK, which will include the new Connect API. Look for it in our next release :)

[2019-05-21 21:37] #1170 closed

[2019-05-21 21:45] csabol-stripe commented on #1175
Hi @onmyway133 , yes `requestPayment` will use whatever is currently set as the `STPPaymentContext.selectedPaymentOption` or defaults to the user's default payment. To change the `selectedPaymentOption`, you can call `STPPaymentContext pushPaymentOptionsViewController`. Make sure you've configured `STPPaymentConfiguration` with your Apple merchant identifier to enable ApplePay as an option.

Check

[2019-05-21 21:45] #1175 closed

[2019-05-21 21:51] csabol-stripe commented on #1176
Thanks for the report @guyinsheng . I've filed a ticket for us internally to investigate this. I would expect an error to be reported in this case!

[2019-05-21 21:57] csabol-stripe commented on #1184
@borut-t thanks for the report! Do you have additional reproduction steps? Are you only hitting this crash on iOS 12, or do you see it affecting other versions as well? I've been unable to reproduce locally

[2019-05-22 05:02] indigothm commented on #1163
Still have this issue. I am using:
`cardParams.token = token.tokenId`
with token collected from 'didCreateToken' method.  The code is almost identical to the one above. Stripe version 15.0.1

[2019-05-22 05:09] indigothm commented on #1163
Full code:
`func addCardViewController(_ addCardViewController: STPAddCardViewController, didCreateToken token: STPToken, completion: @escaping STPErrorBlock) {

        let cardParams = STPPaymentMethodCardParams()
        cardParams.token = token.tokenId
        let paymentMethodParams = STPPaymentMethodParams(card: cardParams, billingDetails: nil, metadata: nil)

        //let paymentMethodPara

[2019-05-26 23:05] krrisztian opened #1189 "Integrations' Readmes contain 404 links"
The [standard integration Readme](https://github.com/stripe/stripe-ios/blob/master/Example/Standard%20Integration%20%28Sources%20Only%29/README.md) (guide) and the Custom Integration Readme contain a link that shows a 404 at step 5. (Deploy to Heroku).

I looked around and found a v14 of a ready-to-deploy-heroku example server but that doesn't work with the standard integration example project (I

[2019-05-28 06:55] erichsu commented on #1023
With Stripe iOS SDK 14.0 here.

[code]

The expected callback URL should be `app://stripe-redirect?redirect_merchant_name=XXXX`.
However, We were getting this URL on `AppDelegate.application:open:options` => `app://safepay/?%7B%22memo%22:......`

[code]

[2019-05-28 21:04] yuki-stripe commented on #1189
Thanks for reporting, fixed in https://github.com/stripe/stripe-ios/pull/1190

[2019-05-28 21:04] #1189 closed

[2019-05-28 23:23] csabol-stripe commented on #1023
Thanks @erichsu ! I'm going to try to reproduce what you are seeing

[2019-05-29 03:51] erichsu commented on #1023
Kindly remind you that it's only happened in live mode with AliPay App interaction.
Test mode works fine as usual

[2019-05-29 19:18] odedharth commented on #968
I'm also experiencing this issue. Was it fixed with #996 ?

Regardless seems to me that the best solution is that the Apple Pay window should not be able to be dismissed by the user while a payment is processing.

[2019-05-29 23:36] csabol-stripe commented on #1023
@erichsu would you mind testing with
`let url: String = "app://"`
i.e. without the `stripe-redirect` and letting me know if that works for you?

[2019-05-30 01:59] erichsu commented on #1023
@csabol-stripe unfortunately it doesn't work...

If you check the function `stp_matchesURLComponents` in `NSURLComponents+Stripe.m`.

[code]

The URL won't match because even the scheme is same `app://`, the host `nil`(app:// from source) is not match to `safePay`(app://safepay/?..... from callback URL)

[2019-05-30 13:24] tobyaherbert opened #1191 "STPCard brand 'amex' is unknown"
Hey there, I've been upgrading an app to use the PaymentMethods API for saving cards and have noticed a small issue when using the ```brandFromString:``` method on ```STPCard```.

It looks like the raw value ```american express``` is used to represent an American Express card, but the new PaymentMethods API returns the brand ```amex``` which results in an unknown brand.

I've forked this library a

[2019-05-31 18:25] csabol-stripe commented on #968
@odedharth unfortunately it did not (and was not merged). This is still on our roadmap to revisit and fix

[2019-05-31 18:30] csabol-stripe commented on #1023
@erichsu thanks for checking. We're currently investigating the `redirect_url` handling on our backend

[2019-06-03 20:57] yuki-stripe commented on #1191
Thanks a ton for filing this!

You are right - `STPPaymentMethodCard` needs its own map of API strings -> `STPCardBrand` values.  It looks like the two differences are 'amex' vs 'american express' and 'diners' vs 'diners card'.

I'm fixing this in https://github.com/stripe/stripe-ios/pull/1195.

[2019-06-04 13:16] tobyaherbert commented on #1191
No problem!

Thanks. 👍

[2019-06-04 19:28] #1191 closed

[2019-06-07 06:57] mahipalsingh7 opened #1197 "Stripe Integration in React Native"
Hello team i need to integrate Stripe payment gateway in React Native Hybrid apps, could you please help me with the steps or any supportive link for Stripe Integration in React Native.

[2019-06-08 11:56] dziter commented on #1197
Hey @mahipalsingh7,

I just contacted Stripe support online about this point too because of SCA compliance:
https://stripe.com/docs/strong-customer-authentication

If you don't mind about SCA (no European Customers), you could do your requests on Stripe API with custom RN forms or using Tipsi lib for example:
https://github.com/tipsi/tipsi-stripe

Have a good day!

[2019-06-12 08:59] DrTomBates opened #1198 "Can't create STPRedirectContext with a PaymentIntent that contains use_stripe_sdk next action type"
## Summary
SDK is unable to handle a payment intent with the following:
[code]
(redacted some of that because I dont know how sensitive it is)

I get this next_action when creating the paymentIntent without a `return_url`. My intention was to use the `returnURL` param on `STPPaymentIntentParams` although this seems to be ignored.
I would have thought that a `next_action.type` of `use_stripe_sdk` w

[2019-06-12 19:22] gwynantj opened #1199 "STPRedirectContext dismissing the presenting view controller when started from a modal view controller."
## Summary
When starting the redirect flow using the method documented here from a view controller that has already been presented modally: https://github.com/stripe/stripe-ios/blob/9ae593525c94d3a385305f25672894b1448cedc4/Stripe/PublicHeaders/STPRedirectContext.h#L176

The safari view controller is presented on the presenting view controller (modally) as seen here: https://github.com/stripe/strip

[2019-06-14 03:34] xieweizhi opened #1201 "Extra step `Return to Merchant`"
## Summary
Some credit cards that will show extra page after 3ds authorized. This is reproducible.

![image](https://user-images.githubusercontent.com/1779863/59482090-eb47c300-8e99-11e9-95f1-0a82b8844e18.png)

Testing Card:
4000000000003063

Is this step required? Or can we customize it to return to {merchant name}?

Duplicate issue of this one for Android SDK.[issues/243](https://github.com/stri

[2019-06-14 07:40] DrTomBates commented on #1198
Although I am still unsure why this would actually ignore the `returnUrl` set in the SDK (as I believe it should override it probably) after a chat with the support team, all I had to do was change `confirm=true` -> `confirm=false` and then calling `confirmPaymentIntent` will set it correctly.

The `use_stripe_sdk` is referring to Stripe.js, which isn't ideal, but nvm

[2019-06-14 07:40] #1198 closed

[2019-06-15 18:48] yuki-stripe commented on #1197
+1 to the suggestions!  and re: SCA & tipsi - we're working on this over the next few weeks.  https://github.com/tipsi/tipsi-stripe/issues/448

I'm going to close this issue, feel free to reply though @mahipalsingh7

[2019-06-15 18:48] #1197 closed

[2019-06-17 17:20] WestonHanners commented on #1030
👍 I wanna second this, this is affecting an app I am working on.

[2019-06-18 00:11] mshafrir-stripe commented on #1201
@xieweizhi thanks for filing

[2019-06-18 00:29] yuki-stripe commented on #1199
Hey @gwynantj!

The docs for `dismissViewControllerAnimated:completion:` state:

My understanding is that we are using this API correctly - can you tell me more about your navigation stack here?  Are there other modals between the `presentingViewController` and the safari view controller?

[2019-06-18 06:35] gwynantj commented on #1199
Hey @yuki-stripe.

Yes I understand that the presenting view controller should be responsible of dismissing the view controller, but the problem I have is that the presenting view controller was presented modally. So in turn instead of dismissing the Safari view controller it will dismiss my presenting view controller and break the checkout flow.

I have no control over this because it's inside th

[2019-06-19 00:49] yuki-stripe commented on #1199
I think I'm misunderstanding something - in a situation where ViewController A presents ViewController B presents ViewController C, you're saying calling `c.presentingViewController?.dismiss()` results in both C and B being dismissed?

[2019-06-19 08:43] gwynantj commented on #1199
Ok so the issue wasn't with the dismiss method at all, it was a timing issue.

Essentially STPRedirectContext tries to dismiss presentedViewController when it's complete and when it's deallocated. In my case both were happening nearly instantaneous which caused a double dismiss.

Closing due to the fact it's not the method causing the issue it's the way you try to dismiss the presented view contro

[2019-06-19 08:43] #1199 closed

[2019-06-20 22:15] ThuggishNuggets commented on #1030
Chiming in; also being affected by this issue. The current incarnation yields a really terrible experience for users that utilize VoiceOver accessibility features. Users have no way of knowing when focus moves from card number to expiration to CVC, or when validation failures occur.

Also.. Might want to bump up the priority on this issue since I'm pretty sure user-facing private/commercial SDKs a

[2019-06-22 15:46] djshumpert opened #1204 "Swift UI Integration"
Hi, I recently started a Swift UI project and was trying to integrate creating customer tokens within the app. Has anyone tried integrating Stripe with Swift UI? I know it is still in beta 🙈

[2019-06-25 14:45] Reyske commented on #1201
Same problem here, doens't even translate in other languages..

[2019-06-26 17:08] yuki-stripe commented on #1204
Hey @djshumpert, we have not - interested to hear what you find!

[2019-06-28 10:22] karlr-stripe opened #1209 "STPShippingAddressViewController does not use billing address if instrument is not an STPCard"
## Summary

The Shipping view controller has a button "Use billing" that will copy the billing address of a card, to avoid the user needing to enter that information twice when e.g. going through the flow of using the STPPaymentContext to complete a payment. For example, with

[code]

<img src="https://user-images.githubusercontent.com/38090489/60335621-439cbb80-9996-11e9-8f70-fa1ec907aa8d.png" wi

[2019-06-28 23:57] yuki-stripe commented on #1209
@karlr-stripe Thanks for filing - tracking internally here https://jira.corp.stripe.com/browse/IOS-1278

[2019-06-30 16:42] yonilevy commented on #831
This seems to still be happening in some scenarios. E.g. if I call `[paymentContext presentShippingViewController]` twice, the "Use Billing" button will show up on the 2nd open. Also if the shipping VC is presented by a call to `[paymentContext requestPayment]`. Using iOS 12.2, Stripe SDK 15.0.1 (on an iPad if it matters).

[2019-06-30 17:15] yonilevy commented on #831
btw from a little debugging, the button seems to show up because the `billingAddress` returns true to `hasPartialPostalAddress`, because its country is set to `"US"`. Not sure if it's a test-card behavior, but I'd say it's a bit unexpected.

[2019-07-05 22:39] joshavant opened #1215 "STPRedirectContext over-dismisses SafariVC"
## Summary
`STPRedirectContext` retains `safariVC` after the redirect flow has completed and a `dismissViewControllerAnimated:` call in the `dealloc` codepath can lead to an over-dismissal of the presenting VC, if the context instance was retained.

## Code to reproduce
[code]

In this situation, `viewController` will receive two `dismissViewControllerAnimated:` calls:
1. After the redirect flow f

[2019-07-05 23:18] joshavant commented on #1215
This looks to be related to #1199, too.

[2019-07-14 14:21] sarakhater commented on #798
hello,
 some times, Keyboard not working in checkout webview
can i know the reason for this issue?

[2019-07-20 08:01] olegdanu-newstore opened #1241 "Nested Stripe3DS2.framework breaks app distribution with ERROR ITMS-90205, ERROR ITMS-90206"
## Summary

Stripe release Version 16.0.0 introduces support to 3DS2 authentication. It comes as a nested framework inside the main Stripe.framework.
This breaks app distribution with errors: ERROR ITMS-90205, ERROR ITMS-90206.

## iOS version

12.2

## Installation method

* Carthage

## SDK version
  16.0.0

## Other information

<img width="377" alt="Screen Shot 2019-07-20 at 10 50 15" src="htt

[2019-07-22 18:26] yuki-stripe commented on #1241
Thanks for reporting this @olegdanu-newstore, we're looking into this.

[2019-07-22 23:35] yuki-stripe commented on #1241
@olegdanu-newstore I have a branch that removes `Stripe3DS2.framework` from `Stripe.framework` and instead adds it as a Cartfile dependency.  This appears to work on my test project, could you try changing your Cartfile to point to `yuki-carthage-fix` and letting me know if you still run into issues?

I believe you'll need to:
1. Change your Cartfile line to: `github "stripe/stripe-ios" "yuki-cart

[2019-07-23 07:37] letrongtriet opened #1242 "STPPaymentHandler crashed when confirm PaymentIntent (automatic flow)"
## Summary
App crashed right away when try to confirm a payment intent (created by Backend)

Card used: `4000000000003253`

## Code to reproduce
[code]

## iOS version
12.3.1

## Installation method
Cocoapods

## SDK version
16.0.0

## Other information
Crash log:
[code]

Last step before crash:

#import "STPDispatchFunctions.h"
[code]

[2019-07-23 07:42] DrTomBates commented on #1242
@letrongtriet thanks for raising this, I was literally just having this issue and was about to raise it myself.
The crash seems to be happening in `STPPaymentHandler.swift` `L:473` for me

[2019-07-23 08:05] olegdanu-newstore commented on #1241
@yuki-stripe looks like your proposed solution resolves the issue.

[2019-07-23 09:27] DrTomBates commented on #1242
Digging a little deeper and it looks like it could be the object that is returned from:
`STDSAuthenticationResponseFromJSON`
being called in:
`STP3DS2AuthenticateResponse.h`
on line:
32

The `authenticationResponseJSON` that it is attempting to use to create the `TVg` object does, however, contain `acsChallengeMandated = Y;`

[2019-07-23 13:21] iKorich opened #1243 "stripe 16.0.0 issue"
STPCardParams.expiryMonth and STPCardParams.expYear is NSNumber instead NSUinteger

[2019-07-23 17:41] yuki-stripe commented on #1242
Thanks for reporting this!

I haven't been able to reproduce this crash so far.  Are you able to breakpoint on line 473 in `STPPaymentHandler` and inspect the `aRes` variable there?  I'm wondering what it looks like in the debugger, and if it responds to `isChallengeMandated`.

[2019-07-23 18:11] yuki-stripe commented on #1243
Hey @iKorich, could you explain the issue a bit more?

[2019-07-23 18:13] letrongtriet commented on #1242
@yuki-stripe Please see the attachment below for all information

NOTE:
- I am using card `4000 0000 0000 3252`
- I added card by using Source ID (old JS SDK since Chargebee did not update their APIs yet)

<img width="1552" alt="Screen Shot 2019-07-23 at 21 09 27" src="https://user-images.githubusercontent.com/28629580/61736209-3f45a180-ad8e-11e9-940d-fc692b7aa680.png">

[2019-07-23 19:18] yuki-stripe commented on #1242
Thanks @letrongtriet!  We've identified an issue with our code obfuscation, and are working on a fix.

[2019-07-23 21:54] yuki-stripe commented on #1242
@letrongtriet @DrTomBates This should be fixed on 5cfa3dc83e25706a0a5f4a03bcac8805a9467041 - you can point your Podfile to that commit until the next version is released.  Please let me know if that resolves this issue!

[2019-07-24 04:15] letrongtriet commented on #1242
@yuki-stripe I did fix the problem 👍
Thanks for you super fast support.

[2019-07-24 04:58] srikanthsrnvs opened #1245 "Cannot change the default payment option"
## Summary
Prebuilt standard integration does not change default payment method.
Selecting a payment method on the `paymentOptionsViewController` results in a dismissal of the viewcontroller, but when examining the backend, the default card is not changed.
During the same session, if we re-open the `paymentOptionsViewController`, it shows the correct card being selected as the default option, but

[2019-07-24 05:58] olegdanu-newstore commented on #1241
@yuki-stripe What are the plans for releasing this?

[2019-07-24 07:00] iKorich commented on #1243
hi @yuki-stripe,

sorry STPPaymentMethodCardParams.

You need fill card paramms in UI, and after read it.

![debbug](https://i.imgur.com/PB5PZMH.png)

[2019-07-24 07:07] iKorich commented on #1243
Hi @yuki-stripe,

sorry, my mistake,
just found that STPCardParams switched to STPPaymentMethodCardParams

[2019-07-24 07:07] #1243 closed

[2019-07-24 08:08] DrTomBates commented on #1242
@yuki-stripe This looks like it has solved the issue for me as well, thanks!

[2019-07-24 18:02] yuki-stripe commented on #1241
@olegdanu-newstore Glad to hear it works!

We're working on a solution that won't require the separate `Stripe3DS2` dependency.  I'll let you know in this issue when that's ready - you'll probably need to undo what we did here and just update to the latest Stripe version e.g. 16.1.0.  I'd recommend waiting until then, but this should work in the mean time if you need it.

[2019-07-24 20:02] yuki-stripe commented on #1245
Hi @srikanthsrnvs.  The standard integration uses the new PaymentIntent+PaymentMethod API (as opposed to Sources), which does not have a concept of a default in general.  You'll need to explicitly specify the PaymentMethod (https://stripe.com/docs/payments/payment-intents/migration#paying-saved-cards) when charging your customer using the PaymentIntent API.

That said, is this issue about which pa

[2019-07-25 02:37] denglei022 commented on #1242
@yuki-stripe It didn't help me...

[2019-07-25 10:05] Ariandr commented on #1245
Hi @yuki-stripe
Yes, the new API is definitely needed in order to be able to show the default method, because without this feature the user experience will be deteriorated.

[2019-07-25 12:12] Milap-Kundalia opened #1247 "Unable to get Stripe token didCreateToken token: STPToken is not getting called"
I am using stripe in my app as a payment gateway. I was getting token in

**func addCardViewController(_ addCardViewController: STPAddCardViewController, didCreateToken token: STPToken, completion: @escaping STPErrorBlock)**

but I think after I updated my pods didCreateToken token: STPToken is not getting called and I am unable to get token. Instead of **didCreateToken** **didCreatePaymentMethod*

[2019-07-25 17:13] srikanthsrnvs commented on #1245
@yuki-stripe Understood. However, we have had several customers complaining about this design, and currently dealing with it by using version 15.0.0 of the Stripe iOS component as a workaround.

Exposing such an API would be ideal for us to bake in our our code to handle this.

[2019-07-25 17:32] yuki-stripe commented on #1245
@srikanthsrnvs Great!  We're tracking this work internally.

[2019-07-25 17:44] yuki-stripe commented on #1247
Hi @Milap-Kundalia.  You're seeing the expected behavior - we've migrated to the [Payment Methods API](https://stripe.com/docs/payments/payment-methods#transitioning).  You'll need to stay on a previous version or migrate your integration.

See [MIGRATING.md](https://github.com/stripe/stripe-ios/blob/master/MIGRATING.md#migrating-from-versions--1600) for all the breaking changes for every version.

[2019-07-25 17:54] catt-stefano commented on #1245
Having updated the Android version, and being in the middle of the iOS update. I can confirm that the user experience for the payment flow did deteriorated. We would really like to have a way to set a default payment method.

[2019-07-25 22:59] yuki-stripe commented on #1241
@olegdanu-newstore We just released [v16.0.1](https://github.com/stripe/stripe-ios/releases/tag/v16.0.1) that should fix this issue.  If that works for you too, can you close this issue?  Thanks!

[2019-07-25 23:00] yuki-stripe commented on #1242
@denglei022 Can you make a new issue with your crash and details?

The fix for this is in [v16.0.1](https://github.com/stripe/stripe-ios/releases/tag/v16.0.1).

[2019-07-25 23:00] #1242 closed

[2019-07-26 03:03] denglei022 commented on #1242
Thanks.That's OK.I used the new version

发自我的iPhone

------------------ Original ------------------
From: Yuki Tokuhiro <notifications@github.com>
Date: Fri,Jul 26,2019 7:00 AM
To: stripe/stripe-ios <stripe-ios@noreply.github.com>
Cc: denglei022 <573505513@qq.com>, Mention <mention@noreply.github.com>
Subject: Re: [stripe/stripe-ios] STPPaymentHandler crashed when confirm PaymentIntent (automatic

[2019-07-26 07:52] olegdanu-newstore commented on #1241
@yuki-stripe thanks for the updates. I am not sure how fast I will be able to test this. So you can consider closing the ticket even before I confirm it working.

[2019-07-26 10:13] DrTomBates opened #1253 "Status bar customisation for STPThreeDSCustomizationSettings"
## Summary
It would be mega if we could pass in a `UIStatusBarStyle` to the `STPThreeDSCustomizationSettings`. Currently, I think it just uses the default

## Installation method
Cocoapods

## SDK version
16.0.1

[2019-07-26 11:52] rus64 commented on #1241
I was also experiencing this issue, just wanted to thank the team for fixing it so quickly!

[2019-07-26 15:05] needlerp commented on #1245
I agree. Currently the user can add a new payment method and the backend can set this as a default option for paying invoices etc, however there doesn't seem to be a way to reflect this in the iOS app without having a default payment option.

[2019-07-26 16:02] needlerp commented on #1245
Not sure if it's related, but I need a way to change the invoice_settings.default_payment_method for a customer when they select a new card using the standard integration. Following a paymentContextDidChange can I return the payment_method ID that was selected so that I can update the customer details for a subscription?

[2019-07-26 19:20] yuki-stripe commented on #1245
@needlerp Yes, that sounds right.

I've merged https://github.com/stripe/stripe-ios/pull/1252 which I believe addresses the issue.
 Feel free to open a new one if it doesn't work for you.

[2019-07-26 19:20] #1245 closed

[2019-07-26 19:21] #1241 closed

[2019-07-26 19:22] #1247 closed

[2019-07-26 19:26] yuki-stripe commented on #1253
Agreed, thanks for the feedback @DrTomBates.  We're tracking this internally.

[2019-07-28 11:59] patchthecode opened #1255 "Swift Package Manager support"

[2019-07-29 13:06] Drusy opened #1256 "UI Examples do not compile"
## Summary
UI Examples do not compile using v16.0.1 tag.

## Code to reproduce
Tag v16.0.1 https://github.com/stripe/stripe-ios/releases/tag/v16.0.1

## iOS version
Any

## Installation method
As https://github.com/stripe/stripe-ios/blob/master/Example/UI%20Examples/README.md, open `Stripe.xcworkspace`

## Other information
`MockCustomerContext` override `STPCustomerContext` but override missing f

[2019-07-29 20:07] davidme-stripe commented on #1255
Hey @patchthecode, thanks for filing this. We'd like to add support for Swift Package Manager, but we'll need them to support image resources[\[1\]](https://bugs.swift.org/browse/SR-2866) and embedded binaries[\[2\]](https://forums.swift.org/t/spm-support-for-binaries-distribution/25549/32)[\[3\]](https://forums.swift.org/t/distributing-binary-closed-source-libraries/23737/20) before we can get st

[2019-07-29 23:12] patchthecode commented on #1255
understood.

[2019-07-29 23:42] yuki-stripe commented on #1253
@DrTomBates This will be in the next release!

[2019-07-29 23:42] #1253 closed

[2019-07-29 23:59] #1256 closed

[2019-07-30 00:00] davidme-stripe commented on #1256
Thanks for reporting, @Drusy!

[2019-07-30 11:21] needlerp commented on #1245
I see 16.0.2 has been release. I've successfully retrieved the default payment method for invoices (saved to Stripe.PaymentMethod) but when I pass the variable as follows:
paymentContext.defaultPaymentMethod = Stripe.PaymentMethod
paymentContext.presentPaymentOptionsViewController()

The app crashes when I press the payment method button:
-[STPPaymentContext setDefaultPaymentMethod:]: unrecognized

[2019-07-30 11:26] needlerp opened #1261 "setDefaultPaymentMethod not working"
I see 16.0.2 has been released including setDefaultPaymentMethod as referenced in #1245.

I've successfully retrieved the default payment method for invoices (saved to Stripe.PaymentMethod) but when I pass the variable as follows:
paymentContext.defaultPaymentMethod = Stripe.PaymentMethod
paymentContext.presentPaymentOptionsViewController()

The app crashes when I press the payment method button:

[2019-07-30 16:50] yuki-stripe commented on #1261
Thanks for the report @needlerp!  I'm not able to repro this, could you give more details including the stack trace?

[2019-07-30 17:02] needlerp commented on #1261
I have a UIButton paymentCard in my VC.
On VC load I call a function to get the default payment_method for the customer, which is saved to Stripe.PaymentMethod.

On clicking the paymentCard button the following is called:
@IBAction func paymentCard(_ sender: Any) {
        STPPaymentConfiguration.shared().requiredBillingAddressFields = .full
        paymentContext.defaultPaymentMethod = Stripe.Pay

[2019-07-30 17:09] yuki-stripe commented on #1261
@needlerp Huh, this is super weird, `STPPaymentContext` definitely has this property - https://github.com/stripe/stripe-ios/blob/d775c6b650f56d2f1c8aa48365939f8b9ee6d339/Stripe/PublicHeaders/STPPaymentContext.h#L144.  What's the value of STPSDKVersion?  Could you try re-installing the Stripe SDK?

[2019-07-30 17:18] yuki-stripe commented on #1261
As an aside, I'm not sure setting the defaultPaymentMethod at this point will have an effect unless you call `retryLoading` afterwards.  You could also set `defaultPaymentMethod` immediately after initializing `STPPaymentContext`.

[2019-07-30 18:22] needlerp commented on #1261
Thanks, I removed the Stripe SDK from Cocoapods then reinstalled it, and it seems to be working now. Also thanks for the tip on retryLoading! It seems to be working great now.

Is there a similar option in the Android SDK that I can point my developers to for the same outcome on Android?

[2019-07-30 18:40] yuki-stripe commented on #1261
@needlerp Glad to hear it!

There's no equivalent yet on Android, we're working on this behavior in https://github.com/stripe/stripe-android/pull/1263.  You can comment/raise an issue over there!

[2019-07-30 18:40] #1261 closed

[2019-07-30 20:43] jwilliams-handy opened #1263 "Stripe SDK changes Pods.xcode Xcode 10.2 & Greater"
## Summary
In versions of Xcode > 10.2 and installing Stripe via Cocoapods and including the `Pods` project in our repo we are seeing changes to our `project.pbxproj` that are being attributed to the Stripe SDK. After running a `pod install` and pushing up the changes, Xcode will make modifications to that file anytime the workspace is opened. There is an ongoing [issue](https://github.com/CocoaPo

[2019-07-31 09:46] denglei022 opened #1265 "Pod stripe 16.0.2 make APP crash"
I pod the Stripe 16.0.2 just now , it make APP crash. But  simulater testing OK.   When I pod 15.0.1 , it's no cash.
There has no error log in console
## Code to reproduce

 0x10293fdbc <+20>: ldr    x0, [x8, #0x260]
Thread 15: EXC_BAD_ACCESS (code=1, address=0x260)

## iOS version

iOS 12.2  iPhone 6S
## Installation method
pod

## SDK version
16.0.2

[2019-07-31 13:46] Fames42 opened #1266 "Undefined symbols for architecture arm64:"
## Summary

 Issues while building project with Stripe 16.0.2. I currently trying to make integration with Stripe and in documentation I found out that i need STPPaymentHandler interface, which is not presented in 15.0.1 I used previously. After upgrading to 16.0.2 I encountered 3 issues:
[code]
Actually, is there any way to make handling without STPPaymentHandler?

## iOS version

11.4

## Instal

[2019-07-31 16:34] csabol-stripe commented on #1265
@denglei022 sorry to hear this is crashing for you! Would you be able to provide more details on when the crash is occurring?

Also if you enable the `Exception breakpoint` in Xcode could you then provide us with the stack trace when the error occurs?

[2019-07-31 16:43] csabol-stripe commented on #1266
@Fames42 this looks like an error in our build process. We will try to get a fix out this week!

If you need to run 3DS2, right now `STPPaymentHandler` is the only way to do so. Otherwise you can confirm the PaymentIntent using `STPAPIClient` and then check its status manually.

[2019-07-31 17:01] csabol-stripe commented on #1266
Ah, this is actually only an issue when building with old SDKs. Apple now requires that all Apps submitted to the app store must be built using at least iOS 12.1 SDK (note that apps built with the 12.1 SDK can still run on older iOS versions -- going back to iOS 8).

https://developer.apple.com/ios/submit/

@Fames42 if you update your Xcode version this issue should be resolved :) Please submit an

[2019-07-31 17:01] #1266 closed

[2019-07-31 17:28] csabol-stripe commented on #1263
@jwilliams-handy thanks for the heads up and investigation! We're tracking this internally now and keeping an eye on the cocoapods issue

[2019-08-01 02:19] denglei022 commented on #1265
I set Exception breakpoint , but I can't catch the error.
This is my error screenshot. The console also has no error log, I don't know what happened.
<img width="1247" alt="WeChat48d74b61a818582d946d71152815b6b9" src="https://user-images.githubusercontent.com/15951751/62260798-d624f480-b445-11e9-8a97-b339bd5974ca.png">

[2019-08-01 12:24] treatwell-ignasurbonas opened #1267 "ApplePay test mastercard card is invalid"
## Summary
Payment fails when payment method is ApplePay using mastercard card.

## How to reproduce
Make ApplePay test payment using mastercard. Cards details can be found in ApplePay test [page](https://developer.apple.com/apple-pay/sandbox-testing/). E.g.
[code]

## iOS version
12.2

## Installation method
Carthage

## SDK version
v16.0.0

## Other information
Creation of payment method for gen

[2019-08-01 15:08] mzygar opened #1268 "Incorect handling of user cancellation 3d secure auth flow"
## Summary
I’m having some issues with the handling the cancel button when paying by card using 3DSecure flow.
It is correctly handled in the `STPPaymentHandler.confirmPayment`- the action received in the callback is `.cancelled`. However, we initiate the process from `STPPaymentContext.didCreatePaymentResult`, get the `paymentMethod` ’s ID and continue with the intent process. To properly close t

[2019-08-01 17:33] yuki-stripe commented on #1268
Hi @mzygar, thanks for reporting.  It sounds like the issue here is that the completion block in `paymentContext:didCreatePaymentResult:completion:` doesn't let you tell it the user canceled (it only accepts success or error).  I think the fix is to change the completion block type to support calling it with `completion(.canceled)` or something like that.

As a workaround, when the user cancels, y

[2019-08-01 20:34] davidme-stripe commented on #1265
Thanks for the screenshot, @denglei022. We're still looking into this one, but in the meantime I'd recommend you try again on v16.0.3. Also, does your app include OpenSSL directly?

[2019-08-01 22:03] csabol-stripe commented on #1267
@treatwell-ignasurbonas thanks for the report and sorry you're hitting this issue! We're investigating this internally now. I'll let you know if there's any more information we need

[2019-08-02 03:01] denglei022 commented on #1265
I get the same error when I use v16.0.3   .
You are right !  The BaiduMapKit has libssl.a，so they have  conflicts. When I remove one of them, I will run success.So how can I solve  the problem ? I need all of them. You can pod 'BaiduMapKit', and you will know the error.  I hope you can fix it. Thanks.

![1564714258322](https://user-images.githubusercontent.com/15951751/62340967-0a66e680-b514-11e9-

[2019-08-02 03:49] mrcflorian opened #1272 "Standard Integration project doesn't compile anymore"
Instead of passing clientSecret, it seems we need to pass clientSecret.clientSecret now, after the last release.

This is the full method in CheckoutViewController, that actually works:

[code]

[2019-08-02 04:03] mrcflorian commented on #1272
I'll take it back. I haven't updated MyAPIClient properly.

[2019-08-02 04:03] #1272 closed

[2019-08-02 15:32] thomassenkman opened #1273 "Xcode 10.1 invalid bitcode version"
## Summary
We updated to Stripe `v16.0.3`. It works well in debug, but when we try to archive our app in release mode with Xcode 10.1, we got this error:

## Code to reproduce
N/A

## iOS version
N/A

## Installation method
Cocoapods

## SDK version
16.0.3

## Other information
N/A

[2019-08-02 17:09] davidme-stripe commented on #1273
Hi @thomassenkman, thanks for bringing this to our attention. We’ll build the next release with Xcode 10.1 to ensure compatibility. In the meantime, you should be able to work around this by using Xcode 10.2.

[2019-08-02 17:21] davidme-stripe commented on #1265
This is really helpful, thanks! We’re looking into it now.

[2019-08-02 17:51] thomassenkman commented on #1273
Hi, thanks for having a look so quickly 👍
We can’t migrate to Xcode 10.2 because of an other dependency, we’ll wait for the next release then.

[2019-08-02 19:03] davidme-stripe commented on #1273
No worries, I've uploaded a branch to unblock you for now. In your Podfile, add `pod 'Stripe', :git => 'https://github.com/stripe/stripe-ios.git', :branch => 'davidme/xcode-101'`

[2019-08-02 20:02] yuki-stripe commented on #1201
You can have this webview automatically dismiss itself or change which page the user is redirected to after the flow completes by passing a returnURL - see https://stripe.com/docs/mobile/ios/authentication#return-url

[2019-08-02 20:02] #1201 closed

[2019-08-02 23:02] davidme-stripe commented on #1265
@denglei022, I'm having trouble reproducing the issue with the latest BaiduMapKit. I initialized a  BMKMapView and ran some 3D Secure 2 transactions, but I'm not seeing the same crash.

I've built a branch with a speculative fix, could you try it and let me know if it resolves your issue? In your Podfile, set:
`pod 'Stripe', :git => 'https://github.com/stripe/stripe-ios.git', :branch => 'davidme/t

[2019-08-03 07:13] denglei022 commented on #1265
Thanks. I created a demo just now. And I pod all of them , everything is OK.
But when I used my own project, it crashed like before.I found the code that make crash.
`_bMapView = [[BMKMapView alloc]initWithFrame:self.view.frame];`
Then I tried pod `Stripe` 15.0.0 again, everything is OK.

Finally  I pod `Stripe` that you've built, that code won't make crash.
But the map display grid, and when I mo

[2019-08-04 03:36] patchthecode commented on #1204
@djshumpert did you make any progress? I am trying the same thing

[2019-08-05 09:44] SerG-Y commented on #1267
Hi guys, I have this issue with the same card in apple business chat. It will be awesome if someone tells how to fix this. Thanks

[2019-08-05 10:50] zender991 commented on #1267
Hello. I have the same issue with this card when I try to create payment token. What is the reason of issue and how to fix it?

[2019-08-06 01:32] davidme-stripe commented on #1265
Hey @denglei022, I've got something else for you to try. In your podfile, set:
`pod 'Stripe', :http => 'https://github.com/stripe/stripe-ios/releases/download/v16.0.2/stripe-ios-source-boringssl.zip' `

Then run `pod update` and, in Xcode, `Product -> Clean Build Folder`. Let me know if this fixes the crash you're seeing.

[2019-08-06 03:17] denglei022 commented on #1265
Thanks!!!  Everything is OK.   You are awesome！

[2019-08-06 06:36] davidme-stripe commented on #1265
Great, thanks for your help in diagnosing this! We’ll get this change into our next release.

[2019-08-06 07:37] denglei022 commented on #1265
If changed, this issue can be closed.

[2019-08-06 08:32] treatwell-ignasurbonas commented on #1267
@csabol-stripe any new about resolving this issue? Not able to pay with ApplePay (mastercard or amex) is blocking a factor for our release. We cannot complete migration to stripe. Any updates about this issue will be appreciated.

[2019-08-06 14:13] davidme-stripe commented on #1267
These sandbox cards are returning a payment token with an expiration date of July 2019. We’re working to have the cards fixed, and hope to have an update soon.

[2019-08-06 14:33] zdesiree opened #1280 "Safari does not dismiss after confirming a 3d secure credit card payment via STPPaymentHandler confirmPayment"
## Summary
I'm using payment intents with automatic confirmation in my project. When I'm testing a 3d secure credit card like `4000002500003155` the Safari window opens and I can authorize the payment. I get to the "Back to Merchent" view and from there the payment gets confirmed, the completion block gets called, but Safari never gets dismissed.

## Code to reproduce
`let paymentIntentParams = ST

[2019-08-06 14:58] IvanBuravchenko95 opened #1281 "use of "@import" break projects using"
## Summary
The bug is the same as in the related issue.
"Enable Modules (C and Objective-C)" feature is disabled in my build settings. So when I updated a pod, 12 files from pod are now broken with an error of "Use of '@import' when modules are disabled". I fixed this locally by checking if project has feature modules (see related issue) Can you please add this feature to fix when updating a pod?

[2019-08-06 15:01] IvanBuravchenko95 commented on #1281
Affected classes:
STDSButtonCustomization.h
STDSCustomization.h
STDSFooterCustomization.h
STDSNavigationBarCustomization.h
STDSSelectionCustomization.h
STDSTextFieldCustomization.h
STPThreeDSButtonCustomization.h
STPThreeDSFooterCustomization.h
STPThreeDSLabelCustomization.h
STPThreeDSNavigationBarCustomization.h
STPThreeDSSelectionCustomization.h
STPThreeDSTextFieldCustomization.h

[2019-08-06 17:15] yuki-stripe commented on #1280
Hi @zdesiree - it sounds like `STPPaymentHandler handleURLCallback:` is being called, but the [call to dismiss the view controller](https://github.com/stripe/stripe-ios/blob/43f1510cdb352fd8fb381dc5bbff701341301f5b/Stripe/Payments/STPPaymentHandler.m#L639) fails.  I'm guessing this is because `authenticationPresentingViewController` is somehow invalid.  What is the view controller you're returning

[2019-08-06 17:41] yuki-stripe commented on #1281
@IvanBuravchenko95 Thanks for reporting this, we can fix this in the next release.

[2019-08-07 08:38] zdesiree commented on #1280
It's a normal view controller I'm passing for the authenticationContext.
Here's the path of the authenticationContext I followed:

- In the `confirmPayment` method it's still valid
- This calls `handleNextActionForPayment` where the authenticationContext is still passed perfectly
- `initWithAPIClient` gets it as well and sets it in line 35 like this  `_authenticationContext = authenticationContext

[2019-08-07 14:14] IvanBuravchenko95 commented on #1280
## Summary
I am facing almost the same issue, but I am instead using a manual confirmation.
Cards I am using:
4000000000003055
4000002500003155

Here in guide (https://stripe.com/docs/mobile/ios/authentication#return-url) said that I can specify a URL scheme and if it specified - user should not click "Done" button to close the Safari window and get completion back. For now, nothing happens when I

[2019-08-07 16:29] CallMeMeow opened #1282 "Postal code issue with Canadian card asking for digits ZIP code"
## Summary

Hello People,

We are currently using stripe to manage our payments in our iOS app and we are facing a problem around the postal code field of the `STPPaymentCardTextField` element. One of our customer has a Canadian card and it's asking her for a 4 to 6 digits ZIP code which can' t be a Canadian zip code. How is this field defined?

## Code to reproduce

[code]

## iOS version

iOS 12

[2019-08-07 22:09] yuki-stripe commented on #1280
@zdesiree  What happens if you try `[_currentAction authenticationContext]` instead?

Could you breakpoint in `handleURLCallback` and show me what
* `po [_currentAction authenticationContext]`
* `po [[_currentAction authenticationContext] authenticationPresentingViewController]`

output in the debugger?

[2019-08-07 22:09] yuki-stripe opened #1283 "Safari does not automatically dismiss 3DS w/ manual confirmation"
## Summary
I am facing almost the same issue, but I am instead using a manual confirmation.
Cards I am using:
4000000000003055
4000002500003155

Here in guide (https://stripe.com/docs/mobile/ios/authentication#return-url) said that I can specify a URL scheme and if it specified - user should not click "Done" button to close the Safari window and get completion back. For now, nothing happens when I

[2019-08-07 22:10] yuki-stripe commented on #1280
@IvanBuravchenko95 I've created a new issue for you, this sounds different. https://github.com/stripe/stripe-ios/issues/1283

[2019-08-07 22:13] yuki-stripe commented on #1283
@IvanBuravchenko95 Automatically closing the Safari VC current does not work; we're working on a fix.  That said, you should see a "Return to merchant" button on the final page, and clicking that button should dismiss the Safari VC.

Are you [passing the return_url](https://stripe.com/docs/payments/payment-intents/ios#create-and-confirm-payment-intent-manual) when you create and confirm the Paymen

[2019-08-07 22:21] yuki-stripe commented on #1282
Hi @CallMeMeow,

Can you try setting `self.paymentCardTextField.countryCode = "CA"`?

[2019-08-08 01:05] CallMeMeow commented on #1282
Hi @yuki-stripe,

Oops, my bad I didn't see this property, it seems like it would solve our current use case but how would it work for customers that have US cards?

[2019-08-08 07:26] zdesiree commented on #1280
@yuki-stripe ah for sure I should use objective-c syntax in this file.
The output seems to be fine, but the Safari doesn't close anyway.

![Screen Shot 2019-08-08 at 09 23 32](https://user-images.githubusercontent.com/2411336/62683414-a5e9d280-b9be-11e9-8b21-814428ea85d4.png)

[2019-08-08 08:10] zdesiree commented on #1280
@yuki-stripe I think the problem is not the presentingViewController, the thing is we want to dismiss the safariViewController not the presentingViewController.
If I save safariViewController in a property in line 575 I can call the dismissViewControllerAnimated on self. safariViewController which works for me.

[2019-08-08 12:58] Drusy opened #1285 "Specify selected payment method `STPPaymentOptionsViewController`"
## Summary
It's impossible to specify `STPPaymentOptionsViewController` selected payment method using `presentPaymentOptionsViewController`.
As the default source|method is not managed anymore by Stripe server, it would be nice to be able to specify the selected payment method in case we would like to create this "default payment" or "last payment method" feature locally.

This feature is availabl

[2019-08-08 17:46] ghazalahk4 commented on #1176
I am getting the same issue, the token returned is nil, till yesterday it was working fine for me. I have not made any changes to my code. Please help me.

[2019-08-08 19:21] yuki-stripe commented on #1280
Thanks @zdesiree, that's super useful!

Yes, the current code is only correct if `safariViewController.presentingViewController` and `[_currentAction.authenticationContext authenticationPresentingViewController]` are the same.  I'm guessing they're not here.

I think we should make your suggested change.  We're tracking this internally, feel free to make a PR and assign me.

[2019-08-08 19:26] yuki-stripe commented on #1285
Hi @Drusy

Check out https://stripe.dev/stripe-ios/docs/Classes/STPPaymentContext.html#/c:objc(cs)STPPaymentContext(py)defaultPaymentMethod - and be sure to follow the note too (`Set this property immediately after initializing STPPaymentContext, or call retryLoading afterwards.`)

[2019-08-08 20:37] Drusy commented on #1285
Hi @yuki-stripe

This feature has been released recently in 16.0.2 and I didn't notice sorry!
Going to try this tomorrow and give you a feedback.

[2019-08-08 22:23] yuki-stripe commented on #1282
@CallMeMeow Could you set `countryCode` to the customer's country?   By default, we set it to user's current locale `[[NSLocale autoupdatingCurrentLocale] objectForKey:NSLocaleCountryCode]`.  https://github.com/stripe/stripe-ios/blob/d4e3170fab9ab940816ea28ea8084b48a842e764/Stripe/STPPaymentCardTextField.m#L339

[2019-08-08 22:36] CallMeMeow commented on #1282
@yuki-stripe We tried to change our region on our Apple ID yesterday to try to reproduce but it kept asking for a postal code and not a digital zip code. That being said, we might have messed up in our testing since the code you linked seems to be covering it.
For the time being setting the `countryCode` works for us!
Thank you very much for you help!

[2019-08-08 23:17] #1282 closed

[2019-08-08 23:39] #1281 closed

[2019-08-09 00:48] davidme-stripe commented on #1265
This is fixed in v16.0.4.

[2019-08-09 00:48] #1265 closed

[2019-08-09 00:48] davidme-stripe commented on #1273
This is fixed in v16.0.4.

[2019-08-09 00:48] #1273 closed

[2019-08-09 08:10] Drusy commented on #1285
Works like a charm, I should have seen this before, thanks again.

[2019-08-09 08:10] #1285 closed

[2019-08-09 11:11] jonassvalin opened #1288 "ld: symbol(s) not found for architecture arm64"
## Summary
We're attempting to update the stripes iOS SDK in our app to support Apple Pay. When attempting to build the application, we are seeing the following error(s):

[code]

## iOS version
Have tried on 10.1 and 12.4, same issue for both.

## Installation method
Pods

## SDK version
16.0.4

## Other information
This seems to be related to some of the fixes you guys have already put out in th

[2019-08-09 11:59] IvanBuravchenko95 commented on #1283
@yuki-stripe providing this url on server helped me, button is now appearing and navigates back to an app, thanks!

[2019-08-09 14:56] davidme-stripe commented on #1288
Sorry for the trouble, we’re investigating this now.

[2019-08-09 16:34] #1283 closed

[2019-08-09 18:15] davidme-stripe commented on #1288
It looks like your app or one of its dependencies may have Dead Code Stripping disabled. We've added this scenario to our tests, and we'll release an update later today that works with either setting.

[2019-08-09 19:56] davidme-stripe commented on #1288
This should be fixed in v16.0.5: Try it out and let us know if it resolves the issue.

[2019-08-09 22:56] yuki-stripe commented on #1209
Fixed in https://github.com/stripe/stripe-ios/pull/1278

[2019-08-09 22:56] #1209 closed

[2019-08-11 15:01] guyinsheng commented on #1176
it's related to your stripe account.

question point: please check your logic code.
Your stripe account is only support American Express, Visa, Master.
When the user select jcb card,  and call createTokenWithPayment ,
then token is nil to be returned, and error is also nil.

solution:
Check if the card type is in range of American Express, Visa, Master, or not expected card type.

[2019-08-11 17:28] sregg opened #1292 "Update zip code format and placeholder based on card number in STPPaymentCardTextField"
## Summary
The JS library seems to automatically switch between US Zip code (6 digits only) and postal code (free form string) based on the detected country of the credit card.
The Android SDK and iOS SDK don't see to have that behaviour.

## SDK version
16.0.4

[2019-08-12 16:44] yuki-stripe commented on #1292
Thanks for raising the issue @sregg, we're tracking this internally.

[2019-08-12 22:57] hugo-fonseca opened #1293 "Crash handling 3DS2 action"
## Summary
Hi, I'm trying to implement the new Standard Integration using 3DS2 in a React Native Module for my application and I've been facing some issues related to the internal SSL library in `libStripe3DS2.a`. The main issue I'm having conflicts with other SSL libraries installed. In my project I had Firebase/Firestore installed that depended on gRPC + BoringSSL and only after updating my fire

[2019-08-12 23:15] davidme-stripe commented on #1293
Hi @hugo-fonseca, thanks for the report. We're looking into this now. Do you see the same issue if you `use_frameworks!` to your Podfile and rerun `pod install`?

[2019-08-12 23:33] hugo-fonseca commented on #1293
@dackerman-stripe Unfortunately I cannot use `use_frameworks!` because some modules I'm using do not support it but I can set Stripe to build as a static library. I'm still having the same issue but I'm cleaning and rebuilding just to make sure.

[2019-08-13 00:28] davidme-stripe commented on #1293
While we look into splitting out the BoringSSL dependency, can you try my branch? It might resolve this crash.

In your Podfile, set `pod 'Stripe', :git => 'https://github.com/stripe/stripe-ios.git', :branch => 'davidme/boringssl-more-prefix'`, then run `pod install`.

[2019-08-13 02:21] hugo-fonseca commented on #1293
@dackerman-stripe Works perfectly!

[2019-08-13 02:53] davidme-stripe commented on #1293
Great, thank you! We’ll get this in the next release.

[2019-08-13 07:57] DrTomBates commented on #1253
@yuki-stripe Just having a look at implementing this. It looks like I can set the status bar color only on `STDSUICustomization` I need this to be exposed through `STPThreeDSUICustomization` unless I am missing something?

[2019-08-13 10:02] Drusy opened #1295 "Webview based 3DSecure authentication always fails"
## Summary

### Unexpected behavior

3D Secure authentication always fails in test mode even if "Complete Authentication" is pushed.
Return URL is configured, `Stripe.handleURLCallback(with: url)` is called and returns `true`

Error thrown is
[code]

### Expected behavior

The error should have `STPErrorMessageKey`, `STPStripeErrorTypeKey` with `insufficient_funds `

### Test card used

4000 0082

[2019-08-13 12:56] Drusy commented on #1295
To complete the issue, all the other native authentication screens works like a charm

- 4000 0000 0000 3220 (Out of Band)
- 4000 0000 0000 3238 (One Time Passcode)
- 4000 0000 0000 3246 (Single Select)
- 4000 0000 0000 3253 (Multi Select)

Only the webview based authentication screen seem to have an unexpected behavior.

[2019-08-13 17:09] yuki-stripe commented on #1253
@DrTomBates Ah you're totally right, thanks. Fixing here: https://github.com/stripe/stripe-ios/pull/1296

[2019-08-13 17:24] davidme-stripe commented on #1293
Fixed in #1294.

[2019-08-13 17:24] yuki-stripe commented on #1295
Thanks for the report @Drusy, we are fixing this right now in https://github.com/stripe/stripe-ios/pull/1291

[2019-08-13 19:29] #1293 closed

[2019-08-13 19:29] davidme-stripe commented on #1293
In v16.0.6, released today.

[2019-08-13 19:34] nenadvulic opened #1299 "STPPaymentHandler - Cannot continue after the authentification failed"
## Summary

In sandbox mode when `confirmPayment` is called and required a user authentification if this one failed, (the user click on `Failed authentification`), it's impossible to restart another authentification, event if [the intent is cancelled by the backend](https://stripe.com/docs/api/payment_intents/cancel) its seem's that the SDK considered the authentification is [still in progress ](h

[2019-08-13 19:44] rromanchuk commented on #1261
Is this only available to `STPPaymentOptionsViewController`, or can I utilize this at a lower level as well? For example lets say i'm managing payment methods myself and have a collection of paymentMethods

[code]

Is there some equivalent for `customerContext.setDefaultPaymentMethod()`?

[2019-08-13 20:04] rromanchuk commented on #1261
[code]

This is odd to me, where does `customer.invoice_settings.default_payment_method` come into play? It's annoying that i can get this far on the client but will end up have to building a client/server REST api to manage these user preferences. It would be ideal if `POST /v1/payment_method` operations accepted a `make_default` that automatically updated this value at the customer level. It's d

[2019-08-13 20:14] yuki-stripe commented on #1299
Hi @nenadvulic,

Have you implemented your UIApplicationDelegate according to https://stripe.com/docs/mobile/ios/authentication#return-url?  It sounds like the SDK is not receiving the URL callback (this method is not called: https://github.com/stripe/stripe-ios/blob/6d17243be30b3d4630d86d3771d3d61141dd91e1/Stripe/Payments/STPPaymentHandler.m#L643).

There shouldn't be a need to cancel the failed

[2019-08-13 20:22] nenadvulic commented on #1299
my bad thanks

[2019-08-13 20:22] #1299 closed

[2019-08-13 20:35] yuki-stripe commented on #1261
Hi @rromanchuk ,

I hear you, it's annoying.  I would try storing the desired default payment method id in `Customer.metadata` (https://stripe.com/docs/api/customers/object#customer_object-metadata) to avoid having to build the REST API like you said.

`customer.invoice_settings.default_payment_method` is related to Billing/subscriptions (https://stripe.com/docs/api/subscriptions/create#create_sub

[2019-08-13 20:53] rromanchuk commented on #1245
I'm curious about the design arch departure from sources/default_source/customer to payment_methods/customer/invoice_settings.default_payment_method  I understand a default_source may not always make contextual sense with SCA, but a payment_method with a off_session setup intent seems like a standard use case. I have business logic that relies on the existence of a default_source and has now gotte

[2019-08-13 21:02] rromanchuk commented on #1245
If i'm creating an intent with customer and payment method supplied I really need a way to tell stripe to make it the default payment method for the customer. This would solve all of my headaches. That's literally what the customer believes they are doing with the intent i'm creating.

[code]

[2019-08-13 21:11] rromanchuk commented on #1261
@yuki-stripe  https://stripe.com/docs/api/invoices/object#invoice_object-default_payment_method

[2019-08-13 21:28] rromanchuk commented on #1261
@yuki-stripe is there any way to update metadata from the client using `STPCustomerContext` the only  property modifications i see are  `updateCustomerWithShippingAddress`

[2019-08-13 21:49] rromanchuk commented on #1245
Also I would actually be a little careful with this language  https://github.com/stripe/stripe-ios/blob/v16.0.6/Stripe/PublicHeaders/STPPaymentContext.h#L143 as it could cause confusion. Customer objects actually **do** have native support for  "Default payment methods" it's just named a bit confusing. If Invoice.create and Subscription.create aren't provided with a payment_method it waterfalls do

[2019-08-14 09:36] cristeahub opened #1300 "Crash far down in the stripe SDK when trying to add new card"
## Summary
The Stripe SDK crashes when I try to add a card to my test account. The bottom of the trace stack is sdallocx before STDSSL_OPENSSL_free. Moving to the top of the stack a bit I can see the error happening here:

https://github.com/stripe/stripe-ios/blob/b17dd1265473a19b01b36dabc7e399359ea7bcff/Stripe/STPAPIRequest.m#L130

This again calls here:

https://github.com/stripe/stripe-ios/blob

[2019-08-14 12:39] davidme-stripe commented on #1300
This could be caused by a conflict with a copy of OpenSSL in another CocoaPod. We added a fix to yesterday’s 16.0.6 — try updating and let us know if it resolves the issue.

[2019-08-14 13:20] adamcarter93 opened #1301 "STDSChallengeResponseViewController not respecting preferredStatusBarStyle setting."
## Summary
When presenting a STDSChallengeResponseViewController, the status bar colour is not changing to the preferredStatusBarStyle setting. i.e. when set to lightContent it shows a dark status bar.

## Code to reproduce
    let handler = STPPaymentHandler.shared()
    handler.threeDSCustomizationSettings = STPThreeDSCustomizationSettings.default()
    handler.threeDSCustomizationSettings.uiCus

[2019-08-14 16:52] yuki-stripe commented on #1261
@rromanchuk

There isn't, I think you could make a category to do this.

[2019-08-14 18:06] yuki-stripe commented on #1301
Hi @adamcarter93,

From my testing, it looks like the view controller's `preferredStatusBarStyle` is set to the expected value.  However, it also looks like the value is ignored, and the status bar text color is black or white depending on the [navigation bar style](https://stripe.dev/stripe-ios/docs/Classes/STPThreeDSNavigationBarCustomization.html#/c:objc(cs)STPThreeDSNavigationBarCustomization(

[2019-08-14 21:05] payshake opened #1302 "STPAddCardViewController ZIP Code for Canadian Customers"
Hi all,

I'm having an issue with my Canadian customers being prompted for a ZIP code on the STPAddCardViewController. The number pad and field validation make it impossible for customers to enter a postal code.

After digging around, I've found that the field is dependent on the user's defined Region in their device settings. This causes problems for users who may have moved, improperly setup the

[2019-08-15 11:18] cristeahub commented on #1300
Thanks, it seems like https://github.com/stripe/stripe-ios/pull/1297 indeed did fix this.

[2019-08-15 11:18] #1300 closed

[2019-08-18 06:09] keith commented on #401
It seems like this isn't something that's going to be supported

[2019-08-18 12:21] krzyzanowskim commented on #1048
I run into the same issue today. Cannot conform to `STPPaymentContextDelegate`. Xcode 10.3 (10G8).

![ScreenFlow](https://user-images.githubusercontent.com/758033/63224367-4a3ff600-c1c3-11e9-8893-7752de09d2a7.gif)

[2019-08-18 12:51] krzyzanowskim commented on #1048
In my case solution is to use explicit `Swift.Error` for imported interface.

[2019-08-19 08:59] jonassvalin commented on #1288
@davidme-stripe Hi David, sorry for the delayed response as I've been on holiday. We tried this out with the latest version and the code compiles properly now. Thanks for the fix!

[2019-08-19 08:59] #1288 closed

[2019-08-19 20:42] yuki-stripe commented on #1302
Hi @payshake,

Unfortunately I don't see a way to do that using `STPAddCardViewController`.  Internally, it uses `STPPaymentCardTextField`.  You can set its locale (and more) via https://stripe.dev/stripe-ios/docs/Classes/STPPaymentCardTextField.html#/c:objc(cs)STPPaymentCardTextField(py)countryCode.

Setting this value to anything other than "US" causes it to display the default keyboard (https:/

[2019-08-20 17:47] payshake commented on #1302
Thanks Yuki,

I can't seem to access the `STPPaymentCardTextField` property of `STPAddCardViewController`.

Just to be clear, I will need to replace `STPAddCardViewController` with our own UI leveraging `STPPaymentCardTextField` to fix this issue?

[2019-08-21 23:05] yuki-stripe commented on #1301
I've removed `preferredStatusBarStyle` since it doesn't actually do anything in our case (because our UIViewControllers are in a UINavigationController).  Instead, set the [barStyle](https://stripe.dev/stripe-ios/docs/Classes/STPThreeDSNavigationBarCustomization.html#/c:objc(cs)STPThreeDSNavigationBarCustomization(py)barStyle) to `.black` to set the statusBarStyle to `.lightContent`.

Check out th

[2019-08-21 23:05] #1301 closed

[2019-08-21 23:06] yuki-stripe commented on #1253
@DrTomBates FYI:

I've removed `preferredStatusBarStyle` since it doesn't actually do anything in our case (because our UIViewControllers are in a UINavigationController).  Instead, set the [barStyle](https://stripe.dev/stripe-ios/docs/Classes/STPThreeDSNavigationBarCustomization.html#/c:objc(cs)STPThreeDSNavigationBarCustomization(py)barStyle) to `.black` to set the statusBarStyle to `.lightConte

[2019-08-22 06:28] mikkoseppa opened #1310 "Timeout value of 13 is less than 5"
## Summary
When I try to confirm a PaymentIntent, I get an error: "Timeout value of 13 is less than 5". I have not set the timeout value so it is using the default value.

`Printing description of error:
Error Domain=STPPaymentHandlerErrorDomain Code=4 "There was an unexpected error -- try again in a few seconds" UserInfo={com.stripe.lib:ErrorMessageKey=There was an error in the Stripe3DS2 SDK., e

[2019-08-22 06:48] mikkoseppa commented on #1310
I get the same exact error even if I change `threeDSCustomizationSettings.authenticationTimeout`

[2019-08-22 14:14] DrTomBates commented on #1253
Thanks for the heads up @yuki-stripe
It is indeed strange to have to set the navigation bar to black to then change it to blue, I had thought that you would have subclassed `UINavigationController` and returned the `preferedStatusBarStyle` from that.
This solution works just as well though, by the looks of it and you don't need to subclass.
Every day is a school day.

![Simulator Screen Shot - iPh

[2019-08-22 17:20] davidme-stripe commented on #1310
Hi @mikkoseppa,

Can you try replacing `let handler = STPPaymentHandler()` with `let handler = STPPaymentHandler.sharedHandler`? I think that will solve the problem you're hitting. (And we should fix our API to prevent folks from creating an STPPaymentHandler directly!)

[2019-08-22 20:11] Kevinw14 opened #1313 "STPLegalEntityParams phone number not updating with token"
## Summary
I'm creating custom connect account's. When I go to update the accounts with the verification information. Everything gets updated except for phone number. The code below is what I'm using, creating a token, and sending it to my backend to update the account. First name, last name, SSN, all the others update like they should just not the phone number.

## Code to reproduce

[code]

## i

[2019-08-22 21:43] odedharth opened #1314 "Limit country list in STPShippingAddressViewController"
Hello,

I have 2 questions:

1. The STPShippingAddressViewController country field is "United States" by default. Is there a way to control this? For example, If I know what is the country of the user beforehand, can I prefill this with a different country?

2. The country field is showing plenty of countries. Can I limit this list to a specific few countries?

Thanks,
Oded

[2019-08-23 00:18] #1295 closed

[2019-08-23 00:36] yuki-stripe commented on #1313
Hi @Kevinw14

I tried to repro this, and everything looks okay.  The call to update the Connect Account failed because the phone number was invalid (as expected).  Are you seeing an error when you call https://stripe.com/docs/api/accounts/update?

[2019-08-23 02:19] Kevinw14 commented on #1313
I didn't want to put my phone number on here so I just put that string of numbers in the example above as a placeholder for how I'm formatting the number. When I put in my actual phone number it gives me a token, and I send that token to the backend. It returns an account object like it should but never updates it. I don't get any errors anywhere.

[code]

I've used this to update it too and this

[2019-08-23 05:20] mikkoseppa commented on #1310
Thank you. That resolved the issue.

[2019-08-23 05:20] #1310 closed

[2019-08-23 08:07] ghazalahk4 commented on #1176
Thanks for the response.

On Sun, Aug 11, 2019 at 8:31 PM, guyinsheng <notifications@github.com>
wrote:

[2019-08-23 17:47] yuki-stripe commented on #1313
@Kevinw14 - Understood, this is super weird..could you send me the request id of the failing update call your backend is making?  I think you can find it by going to https://dashboard.stripe.com/test/logs? (or https://dashboard.stripe.com/logs for livemode) and clicking on the relevant request.  The ID looks like `req_yy5Fz2ez8PIJ9K`.  It's also sent as `request-id` in the header of the API respon

[2019-08-23 18:57] Kevinw14 commented on #1313
The backend API version is the latest one. I think 2019-08-14. I didn't realize that the client also had an API version.

I made two calls one changing the address & one changing the phone number

Address: req_aMRLo5Ls7sfdo9
Phone Number: ct_1FAhlZKAF1MayChZjfq4djLZ

It may be the mismatch of the API Versions. How do I update my client's API?

[2019-08-23 22:45] yuki-stripe commented on #1313
I have a PR to bump our API version that should go out next week https://github.com/stripe/stripe-ios/pull/1254.

My last question is misleading though, sorry - a mismatch between client and backend *should* be okay.  I thought we're exercising some edge case here, but I can't repro it on my end.

I'm able to update the phone number of a connect account by first generating a token on the client us

[2019-08-24 15:49] Kevinw14 commented on #1313
Weird, I wasn't able to update it from the curl either. Maybe it's something on my end that's causing it not to update.

[2019-08-26 09:46] Drusy commented on #1295
@yuki-stripe, the pull request added the error in `lastPaymentError` but the codes returned by the card `4000 0082 6000 3178` does not comply with the documentation.

I have:
`type: STPPaymentIntentLastPaymentErrorType.card` -> OK
`code: "card_declined"` -> OK, why not
`declineCode: nil` -> NOT OK, should be `insufficient_funds`

The documentation of the card `4000 0082 6000 3178` says we should e

[2019-08-28 10:06] aurelhubert opened #1325 "STPPaymentHandler.shared().confirmPayment error not always localized"
## Summary

When testing to confirm a payment with the next card (which should be declined after the authentication screen), the error `NSLocalizedDescription` is not translated in the correct language (I'm testing with a simulator in french).

[code]

The print return:
[code]

But when I test with the next card (which is always refused), the error message is correctly translated:

[code]

Any ide

[2019-08-28 10:39] RolandasRazma commented on #1314
for #1 you can set paymentContext.prefilledInformation with country you want

[2019-08-29 06:18] aurelhubert commented on #1325
@davidme-stripe Thanks for the quick reply! I was planning to use this code to manage the errors as a first step, I will follow the next releases of the SDK.

[2019-08-29 10:07] pratik1311 opened #1328 "STPPaymentMethod not display newly created card."
Hi
I am using Stripe SDK version 16.0.5.
I download code from github and tried to run **UI Example Project**
When I first run app that time it display preloaded cards.
I added new card but its not display in list of cards.

[code]

Above method is called when I add new card but it's not display that newly added card.

Do I miss something?

Thanks,
Pratik

[2019-08-29 11:21] MatthieuLemoine opened #1329 "Symbol(s) not found for architecture in libStripe3DS2.a"
## Summary
When building using Xcode 10.3 for simulator or device, the build fail with the following linking error:

[code]

## iOS version
12.4

## Installation method
CocoaPod

## SDK version
16.0.6 & 16.0.7

## Other information
Could be linked to https://github.com/stripe/stripe-ios/issues/1266 & https://github.com/stripe/stripe-ios/issues/1288. But I'm already building with the latest iOS SDK

[2019-08-29 15:35] VladimirBudniy opened #1330 "Binary Rejected --> Obfuscated selectors"
## Summary
iOS app was rejected with issue:

"Specifically, we noticed that this app’s integrated Stripe framework contains obfuscated selectors, including the following class-methods:
[RoXTMl YVzJpCJy]
[cIr9 setQsQwZw:]
[cIr9 g4ZlVDHA]"

## Installation method
CocoaPod

## SDK version
v16.0.1

[2019-08-29 16:35] aurelhubert opened #1331 "Can't set billingDetails with createPaymentMethodWithPayment"
## Summary
I'm using the method `STPAPIClient.shared().createPaymentMethod(with: payment)` to create a payment with Apple Pay and I have set the billing details inside the payment object (in the field `billingContact`), but when the SDK receives the response from the API (in `STPAPIClient+ApplePay.m`), the `billingDetails` is set to nil and is `readOnly` (so it can't be updated after).

On Android

[2019-08-29 17:14] davidme-stripe commented on #1329
Hey @MatthieuLemoine, sorry that this isn't working for you! I have a branch that might fix it, can you add this to your Podfile?
`pod 'Stripe', :git => 'https://github.com/stripe/stripe-ios.git', :branch=>'davidme/add-more-symbols'`

Thanks!

[2019-08-29 17:15] davidme-stripe commented on #1330
Hi @VladimirBudniy,

Version 16.0.0 contained some obfuscated selectors, but we've removed them in more recent versions. Try updating to 16.0.7 and submitting again. Sorry for the trouble!

[2019-08-29 21:22] davidme-stripe commented on #1328
Thanks for filing, this is a bug on our end. I'm fixing it in #1333.

[2019-08-29 21:50] davidme-stripe commented on #1331
Thanks for filing, @aurelhubert! We're fixing this in #1331.

[2019-08-29 22:49] davidme-stripe commented on #1331
Sorry for the auto-close. Try pointing your Podfile to our master branch, it should resolve this for you.

[2019-08-30 00:26] imimoises opened #1336 "iOS STPPaymentHandler ConfirmSetupIntent, "Received unknown parameter client_secret""
## Summary
Im testing my integration of Saving a card using stripe's SetupIntents, and I have followed all the steps location in the documentation, yet when I am try to confirm the setup intent,  "Received unknown parameter client_secret" is what I am getting.

## Code to reproduce
`let setupIntentParams = STPSetupIntentConfirmParams(clientSecret: clientSecret)
        setupIntentParams.paymentMet

[2019-08-30 00:34] imimoises opened #1337 "iOS ConfirmSetupIntent "Received unknown parameter client_secret" error"
## Summary
Im testing my integration of Saving a card using stripe's SetupIntents, and I have followed all the steps located on the documentation, yet whenever I try to confirm the setup intent,  I get  this error

"Received unknown parameter client_secret"

## Code to reproduce

[code]

## iOS version
The project is setup on iOS 11,
my device is iOS 12.3.1

## Installation method
CocoaPods

## SD

[2019-08-30 00:50] yuki-stripe commented on #1337
Hi @imimoises,

Sorry you're having problems, I'd like to look into this for you. Could you email me (yuki@stripe.com) the clientSecret you're passing?

[2019-08-30 00:51] yuki-stripe commented on #1336
Closing as dupe of #1337

[2019-08-30 00:51] #1336 closed

[2019-08-30 03:03] #1337 closed

[2019-08-30 04:48] pratik1311 commented on #1328
Thank you for your reply. Please let me know when this bug is solve.
I will be wait.

[2019-08-30 06:25] denglei022 opened #1339 "2. 3 Performance: Accurate Metadata"
I used Stripe version 16.0.0 + .
This month I uploaded my app ,apple refused to review multiple times.These are infos:

Please note that this app’s Stripe framework support contains obfuscated class methods. including the previously noted [cIr9 setQVClr7i4:]. This may result in longer review times if these class methods are present in future binary submissions.

I don't know if your latest version

[2019-08-30 08:03] aurelhubert commented on #1331
I've tested again with the code on the master branch and it doesn't work for now. I've maybe missed something.

The `billingContact` is correctly set on the `PKPaymentRequest` object, but when the transaction succeed, the `PKPayment` doesn't have the information.

This is the way I call Apple Pay:
[code]

And I receive the result here:
[code]

And last thing, I don't see the `email` field set in t

[2019-08-30 09:41] MatthieuLemoine commented on #1329
@davidme-stripe It works using your branch. No more linking issue 🎉  Thanks!
Will it be merged soon?

[2019-08-30 11:39] AxLentz opened #1340 "ApplePay test China UnionPay card is invalid: Error Domain=com.stripe.lib Code=60"
## Summary
Payment fails when payment method is ApplePay using China UnionPay card.

## Code to reproduce
[code]
Creation of payment method for generated ApplePay token (using China UnionPay card) fails. returns an error:
[code]
Cards details can be found in [ApplePay test page](https://developer.apple.com/apple-pay/sandbox-testing/).
E.g.
[code]
## iOS version
iOS 12.3

## Installation method
coc

[2019-08-30 15:41] Marcin951 opened #1342 "UIWebView is deprecated"
Hi, i using stripe for few months and yesterday i did update of my app, and the update is not published on due the UIWebView. I dont use anywhere in my app the webView, and the only pods use webKit is Stripe. This is the message from Apple https://imgur.com/a/XteJ4gQ Is this a problem on Stripe side, or have i somewhere old code on my app with the webView and that is my mistake?

[2019-08-30 16:51] davidme-stripe commented on #1342
Hi @Marcin951, thanks for filing. We haven't used UIWebView in the Stripe SDK since 2016. Which version of the Pod are you using? Are you sure you aren't linking in anything else that might bring in UIWebView?

[2019-08-30 17:52] davidme-stripe commented on #1339
Hey @denglei022, are you still using the 16.0.2 fork that I sent? You should try updating to 16.0.7: We removed the obfuscated class methods in 16.0.3.

[2019-08-30 18:30] davidme-stripe commented on #1329
Thanks for confirming! We'll get it in a release very soon.

[2019-08-30 20:54] davidme-stripe commented on #1328
The bug should be resolved if you pull our current master branch from GitHub and rebuild UI Examples. We'll release it in a packaged update soon.

[2019-08-30 21:38] davidme-stripe commented on #1331
Ah, sorry, I thought you were using `STPPaymentContext`. That class will do some amount of this configuration for you, but if you're using PKPayment directly, you'll want to set it up like this:

[code]

You'll then want to check the billingContact property for the name/address, and the shippingContact property for the email/phone. I'm not clear on why .emailAddress and .phoneNumber can't be part

[2019-08-30 22:34] davidme-stripe commented on #1340
Hey, thanks for the report @AxLentz. We're currently investigating this and a few other issues with the Apple Pay sandbox cards. In the meantime, are you able to test using a real UnionPay card and your Stripe test mode keys?

[2019-08-31 00:07] davidme-stripe commented on #1340
Hi @AxLentz, thanks for the report. Disregard my last message — I thought you were using the Apple Pay sandbox cards. I'd like to investigate this more, can you contact our support channel (https://support.stripe.com/contact?email=true&topic=Something%20else) with the details of the request you were using to try to create the PaymentMethod?

[2019-08-31 07:02] denglei022 commented on #1339
Thank you.That's a good news.

[2019-08-31 18:09] Marcin951 commented on #1342
I used version 15.01, but after update pods everything work :)

[2019-08-31 22:27] davidme-stripe commented on #1342
That’s great! I’ll close this out, thanks for letting us know.

[2019-08-31 22:27] #1342 closed

[2019-09-02 06:49] AxLentz commented on #1340
ok, thank you very much!

[2019-09-02 08:52] letrongtriet opened #1344 "3DS 2.0 UI with White "Cancel" Button"
Summary
3DS 2.0 view has `Cancel` button in white color and there is no way that user can notice.

## Code to reproduce
[code]

## iOS version
12.4.0

## Installation method
Cocoapods

## SDK version
16.0.7

## Other information
![IMG_0061](https://user-images.githubusercontent.com/28629580/64102202-214d6280-cd78-11e9-9a4a-786bee8633c7.PNG)

[2019-09-02 13:07] pratik1311 commented on #1328
Hey

When I added new card then I am getting wrong `stripeId` in attach method
Newly added `paymentMethod.stripeId` should be `pm_********` but after you solve bug I am getting id like `10523555563`.

Please check and let me know.

[2019-09-03 06:14] anishparajuli555 commented on #1000
@fred-stripe @yuan-stripe  I am too getting this issue. The card re-appears when I re-present the STPPaymentMethodsViewController, but does not show when I perform popViewController after the card addition.

[2019-09-03 12:26] anishparajuli555 opened #1345 "[URGENT] No indicator shown for last used card"
## Summary

I have a list of saved cards, but last used card visual indicator is missing in the card lists. Previously, the same code used to show the checkmark for the last card used, now it's missing after we are upgrading for SCA implementation.

## Code to reproduce
[code]

## iOS version
ios 12.4

## Installation method
cocoa pods

## SDK version
Stripe (16.0.7)

## Other information
![Simula

[2019-09-03 16:49] davidme-stripe commented on #1328
That's expected when using UI Examples — it's only meant to show off the various UI elements, so it uses a mock server instead of creating real PaymentMethod IDs. If you're building a new integration, you might have a better time starting from the `Standard Integration` or `Custom Integration` projects.

If you're just starting out with Stripe, it might help to contact us via our [email and IRC su

[2019-09-03 21:44] davidme-stripe commented on #1344
Hi @letrongtriet, thanks for filing. This should use the color from `navigationBarCustomization.textColor`. What is the value of `ColorPalette.darkBlue`? From your screenshot, it seems like it might be `nil`.

[2019-09-03 23:53] davidme-stripe commented on #1345
We're working on a better story for this. For now, you should be able to track the user's default payment method yourself and set it on the STPPaymentContext's `defaultPaymentMethod` property. If you need a place to store the default payment method without maintaining your own datastore, I'd recommend using the customer object's `metadata` or `invoice_settings[default_payment_method]` fields.

[2019-09-04 02:47] letrongtriet commented on #1344
Hi @davidme-stripe , it is working for Title "Secure checkout" but not for "Cancel" button.
And from technical documentation, `textColor` does not work with "Cancel" (https://stripe.dev/stripe-ios/docs/Classes/STPThreeDSNavigationBarCustomization.html#/c:objc(cs)STPThreeDSNavigationBarCustomization(py)textColor)

[2019-09-04 05:17] anishparajuli555 commented on #1345
@davidme-stripe We tried the later solution setting default_payment_method in metadata and invoice_settings but it didn't work. Any alternative solution besides storing locally?

[2019-09-04 07:32] wy1024 opened #1347 "Unable to run the example project with nodejs backend. Issue with ephemeral keys"
## Summary

Unable to run the example project with nodejs(parse) backend. Failed at the ephemeral_keys step with error `Could not parse the ephemeral key response following protocol STPCustomerEphemeralKeyProvider. Make sure your backend is sending the unmodified JSON of the ephemeral key to your app.` even everything prints out correct

## Code to reproduce

Slightly modified the create customer

[2019-09-04 07:34] wy1024 commented on #1347
On another note, not sure if related to the cause, but I have only implemented the `ephemeral_keys` backend method so far. I could not find a full nodejs backend example, only a ruby version, which makes development more difficult.

[2019-09-04 10:17] sadhakbj commented on #1345
@david-stripe
The implementation  in web services end is as described below:
Library used: stripe-php , version: 6.43.0

**Creating payment intent**

[code]

**GetPaymentIntentPayload method**

[code]

The implementation works with no issue on the android device.

Do we need to make any changes on the API end ?

[2019-09-04 10:36] aliriaz-stripe commented on #1347
hi @wy1024, it looks like your backend isn't returning a JSON representation of the ephemeral key, which is what STPEphemeralKeyProvider expects as per the docs: https://stripe.com/docs/mobile/ios/standard#ephemeral-key.

Closing as this isn't a bug/issue on the SDK, please follow up with https://support.stripe.com/contact if you run into any further integration issues!

[2019-09-04 10:36] #1347 closed

[2019-09-04 11:22] ffdez opened #1348 "Refactor problem from 13.2.0 to 16.0.7"
## Summary
Updating a production app working with Stripe 13.2.0 version to 16.0.7 i found a problem.
I use `STPPaymentCardTextField` for get the client card.

## Code to reproduce

Current implementation is:
[code]

After update, cardParams returns a `STPPaymentMethodCardParams` and i can't call `STPSourceParams.cardParams` neither `STPAPIClient.createSource`

What should I change in this case?
I

[2019-09-04 17:53] #1330 closed

[2019-09-04 19:53] yuki-stripe commented on #1348
Hi @ffdez,

v16.0.0 migrated our UI components from Sources to PaymentMethods, which replaces Tokens and Sources.  See https://stripe.com/docs/payments/payment-methods#transitioning.  I recommend you [migrate to the Payment Methods + Payment Intents API](https://stripe.com/docs/payments/payment-intents/migration/automatic-confirmation).  This is especially important [if you're affected by SCA](htt

[2019-09-04 20:07] yuki-stripe commented on #1345
Hi @sadhakbj,

I don't think it's an issue with your backend.  I'd guess that `defaultPaymentMethod` is not set to a valid Payment Method ID.  It should start with `pm_`.

[2019-09-04 20:10] yuki-stripe commented on #1344
Hey @letrongtriet,

To customize the cancel button, create a `STPThreeDSButtonCustomization` instance and [set it](https://stripe.dev/stripe-ios/docs/Classes/STPThreeDSUICustomization.html#/c:objc(cs)STPThreeDSUICustomization(im)setButtonCustomization:forType:) passing [STPThreeDSCustomizationButtonTypeCancel](https://stripe.dev/stripe-ios/docs/Enums/STPThreeDSCustomizationButtonType.html#/c:@E@ST

[2019-09-04 22:05] odedharth opened #1350 "Top bar glitch"
## Summary

The top bar is black when opening the Payment and Shipping screens.

<img width="433" alt="Screenshot at Sep 04 15-01-16" src="https://user-images.githubusercontent.com/624023/64295022-1257e300-cf25-11e9-978b-d3349b74d89c.png">

## Code to reproduce
        self.paymentContext.presentPaymentOptionsViewController()

        self.paymentContext.presentShippingViewController()
## iOS vers

[2019-09-05 03:33] anishparajuli555 commented on #1345
@yuki-stripe If so, what do you think should be the best way to handle this until the team releases an update? Can you recommend any previous stable version of iOS SDK?

[2019-09-05 05:17] letrongtriet commented on #1344
Thanks @yuki-stripe and @davidme-stripe for helping. It's resolved now.

[2019-09-05 05:17] #1344 closed

[2019-09-05 05:48] #1339 closed

[2019-09-05 09:42] Drusy opened #1352 "3D Secure authentication returns error on user cancellation"
## Summary

### Unexpected behavior

3D Secure authentication always fails even when user action is cancellation.
The callback of `STPPaymentHandler.shared().confirmPayment` returns a `STPPaymentHandlerActionStatus` which should be `.canceled` in case of user cancellation. Since v17.0, cancelling a 3D Secure action returns `.failed` with the following error:

[code]

### Expected behavior

In case

[2019-09-05 09:43] Drusy commented on #1352
#1268 and #1271 seems to be related, is this the expected behavior ?

[2019-09-05 16:58] yuki-stripe commented on #1352
Hi @Drusy,

Thanks for the report, I've reproduced this on my end.  This is a regression and we're working on a fix now.

[2019-09-05 22:11] yuki-stripe commented on #1345
@anishparajuli555 - sorry to hear that!  How do you determine the value you set for `defaultPaymentMethod`?  Could you give an example of a value and the code?

[2019-09-05 22:20] yuki-stripe commented on #1268
This is fixed in 17.0.0.  Pass `completion(.userCancellation, nil)` in the cancellation case.

[2019-09-05 22:20] #1268 closed

[2019-09-06 04:25] anishparajuli555 opened #1355 "Toolbar not responding & freezing on STPAddCardViewController after 3d secure Auth"
## Summary
The toolbar is not responding when user redirects for 3d secure authentication.

## Code to reproduce
[code]

## iOS version
all including simulators

## Installation method
cocoa pods

## SDK version
Stripe (~> 17.0.0)

## Other information

[code]

The canceled state is called when I cancel 3dsecure authentication. But the toolbar is not responding. Here's a video [link](https://drive

[2019-09-06 06:15] anishparajuli555 commented on #1355
The trick that worked for me was to notify SDK about the card addition using the completion as:

[code]

[2019-09-06 06:43] mwoollard opened #1356 "Crash STPAddCardViewController with scan.io"
## Summary
Scan Card button remains active whilst card being added, tapping can cause crash

## Steps to reproduce
App using scan.io integration w/ STPAddCardViewController
From STPAddCardViewController tap Scan button
Scan a card
Whilst card is being added (network indicator top right) tap Scan button again

## Expected behaviour
Button is disabled

## Actual behaviour
Button is active and tappin

[2019-09-06 06:56] anishparajuli555 commented on #1345
@yuki-stripe

[code]

[code]

[code]

The card selected should show for the next payment but does not.

<img width="989" alt="Screen Shot 2019-09-06 at 12 38 35 PM" src="https://user-images.githubusercontent.com/7752578/64407226-8ae4ae00-d0a3-11e9-8fda-f3eec3cdb439.png">

[2019-09-06 17:15] yuki-stripe commented on #1355
Hi @anishparajuli555,

Yes, you'll need to call the completion block.  If you pass an error in the completion block, `STPAddCardViewController` will display the error for you if that's helpful, but displaying your own error is fine as well.

Is this issue resolved for you now?

[2019-09-06 17:16] yuki-stripe commented on #1350
Hi @odedharth,

Thanks for the report!  We're working on a fix now.

[2019-09-06 17:23] yuki-stripe commented on #1345
Ah super helpful @anishparajuli555, thanks.  You'll need to set `defaultPaymentMethod` on `STPPaymentOptionsViewController` instance, before you present it.

From this sample code, it looks like you are not using `STPPaymentContext`, and you could delete it.

If you *are* using `STPPaymentContext`, you should call `paymentContext.presentPaymentOptionsViewController` instead of creating your own.

[2019-09-07 00:26] yuki-stripe commented on #1184
Closing due to inactivity.

[2019-09-07 00:26] #1184 closed

[2019-09-07 00:28] yuki-stripe commented on #918
We've updated the API version in the latest 17.0.0 release to `2019-05-16`

[2019-09-07 00:28] #918 closed

[2019-09-07 21:31] wbeuil opened #1358 "Invalid hash createTokenWithConnectAccount"
## Summary
Hello guys, I need help to create connect account token with the last iOS-SDK.

With the code below I get an "Invalid hash" error because of the dateOfBirth variable I guess.

Thanks in advance.

## Code to reproduce
[code]
## iOS version
iOS 11

## Installation method
Podfile

## SDK version
17.0.0

[2019-09-08 10:39] anishparajuli555 commented on #1355
Thanks for your reply! Yes, it works.

[2019-09-08 10:39] #1355 closed

[2019-09-08 10:39] anishparajuli555 commented on #1345
@yuki-stripe Thanks, this works!

[2019-09-08 10:39] #1345 closed

[2019-09-08 21:50] Sidetalker opened #1359 "STPPaymentMethodCardParams passed to STPPaymentCardTextField displays "00" in month"
## Summary
I'm attempting to pass `STPPaymentMethodCardParams` that I have created myself to `STPPaymentCardTextField` by setting `cardParams`. I don't set expiration month or year, but the text field displays `00` in the month field.

## Code to reproduce
[code]

Expected:
![IMG_0013](https://user-images.githubusercontent.com/1299693/64494910-cd9fb500-d260-11e9-92f9-9c2c1c541678.jpg)
Received:
![

[2019-09-08 22:36] Sidetalker commented on #1359
🤦‍♂️ `STPPaymentMethodCardParams` has `nullable NSNumber`s for `expMonth` and `expYear`. To fix it I just do the following:
[code]

[2019-09-08 22:36] #1359 closed

[2019-09-09 11:17] wbeuil commented on #1358
Any news guys?

[2019-09-09 14:04] carlosanjos opened #1360 "STPPaymentHandler confirmPayment localizedDescription message is unhelpful when STPPaymentHandlerActionStatusFailed"
SDK version: Stripe 16.0.7
iOS version: 12.3.1

Sometimes, a PaymentIntent when confirmed returns a `STPPaymentHandlerActionStatus`
status `STPPaymentHandlerActionStatusFailed` and the error message is not helpful, the error code is 0. The expanded error message is not very helpful either
` Error Domain=STPPaymentHandlerErrorDomain Code=0 "There was an unexpected error -- try again in a few second

[2019-09-09 16:25] yuki-stripe commented on #1358
Hi @wbeuil,

Thanks for the report.  I've confirmed this is a bug in the SDK, and we should have a fix in soon.

[2019-09-09 16:41] wbeuil commented on #1358
@yuki-stripe Thanks for your quick reply.

Should I expect a fix today?

[2019-09-09 19:34] davidme-stripe commented on #1329
We shipped this in 17.0.0.

[2019-09-09 19:34] #1329 closed

[2019-09-09 19:41] davidme-stripe commented on #1314
Sorry for auto-closing. This is fixed in master by #1327 and will go out with the next release.

[2019-09-09 20:49] yuki-stripe commented on #1358
@wbeuil The fix is in master; we plan to release a bugfix version including this within the next few days.

[2019-09-09 20:50] yuki-stripe commented on #1356
The fix to hide the scan button is in master.  Thanks for the report @mwoollard!

[2019-09-09 21:15] davidme-stripe opened #1364 "macOS Catalyst support (with Swift Package Manager and Xcode 12)"
If you'd like to use Stripe in your Catalyst apps, like and subscribe to this issue. We'll prioritize based on how much feedback we receive.

Caveat: Apple Pay doesn't appear to be supported in Catalyst apps as of the latest Catalina beta.

[2019-09-09 21:54] yuki-stripe commented on #1360
Hi @carlosanjos,

We're looking into this - I wouldn't expect this error.

[2019-09-09 22:02] odedharth commented on #1350
Thanks for the quick response. Seems that there is still a minor glitch, see it at the end of the video:
https://www.dropbox.com/s/v5sgbqntxb7o18d/RPReplay_Final1568066190.mov?dl=0

[2019-09-09 22:35] halinebr opened #1366 "Default Payment Method not loading in Standard Integration or selected by default in STPPaymentOptionsViewController STPC"
## Summary
Stripe Standard Integration not loading default source if the source is a Payment Method object.

## Code to reproduce
Via our backend, we're able to set the default payment method and verify it from the Stripe dashboard but in the iOS app using Standard Integration always loads Apple Pay first and is selected by default in STPPaymentOptionsViewController. In previous versions of the St

[2019-09-09 22:43] yuki-stripe commented on #1360
@carlosanjos

It looks like the `/confirm` response is sending down `stripe_3ds2_challenge` when the mobile clients expect `stripe_3ds2_fingerprint`.  `stripe_3ds2_challenge` is for the web client.  I'm not sure why this is happening.  Did you start but not complete a web-based PaymentIntent confirmation?

I'd recommend reaching out to [Stripe support](https://support.stripe.com/contact) or the IR

[2019-09-09 23:00] davidme-stripe commented on #1350
Thanks, I'm trying to repro it now. We should have a fix soon.

[2019-09-09 23:44] davidme-stripe commented on #1350
@odedharth I can't reproduce this exact issue locally, but can you try setting `theme.translucentNavigationBar = YES` on your STPTheme and let me know if it resolve the glitch for you? I'm seeing some similar graphical issues related to that setting on iOS 13.

[2019-09-10 00:20] odedharth commented on #1350
@davidme-stripe this fixed it, thanks!

[2019-09-10 00:33] davidme-stripe commented on #1350
Thank you! I think we'll make that the default in the next version.

[2019-09-10 00:46] yuki-stripe commented on #1366
Hi @halinebr,

Are you setting the [defaultPaymentMethod](https://stripe.dev/stripe-ios/docs/Classes/STPPaymentOptionsViewController.html#/c:objc(cs)STPPaymentOptionsViewController(py)defaultPaymentMethod) property in the app as well?

[2019-09-10 06:37] yujia917 opened #1368 "How to mock the token when using STPPaymentOptionsViewController"
Hi:

I was using STPPaymentMethodsViewController before. I  override the function createToken(withCard card: STPCardParams, completion: STPTokenCompletionBlock? = nil) in the mock api client, so I can add and charge test cards. Everything worked fine.

I recently updated the Stripe API version to 17.0.0. The STPPaymentMethodsViewController is deprecated. Now I am using STPPaymentOptionsViewControl

[2019-09-10 10:24] treatwell-ignasurbonas commented on #1352
This one is labeled as `fixed` but it still happens on stripe SDK`v17.0.0.`.

[2019-09-10 10:26] Drusy commented on #1352
@treatwell-ignasurbonas The issue has been reported on v17.0.0 so this is normal.
The issue will be closed on the next release I guess, but has been fixed in the codebase by the Stripe team merging this PR: https://github.com/stripe/stripe-ios/pull/1353

[2019-09-10 11:35] carlosanjos commented on #1360
The paymentIntent was created in the back-end using the PHP Stripe SDK `"stripe/stripe-php": "^6.40"`

[code]

This snippet response is sent to the mobile app, then the `client_secret` is used to confirm the payment as the previously pasted code.

[2019-09-10 14:56] halinebr commented on #1366
Nope - have made that change and my problem is now gone. Thank you!

[2019-09-10 14:56] #1366 closed

[2019-09-10 18:04] kselvin opened #1369 "iOS 13 Beta + Stripe (17.0.0) --> if device is not on dark mode, the nav controller that says "Add Card" is not displaying correctly"
Stripe 17.0
device model -- 7 plus, 7, and X
iOS : 13.1 Beta 2

If dark mode is on, the add card vc looks fine, BUT if dark mode is OFF see image

![image0](https://user-images.githubusercontent.com/14080338/64638624-22177180-d3d4-11e9-9d47-19643d72dbd4.png)

Code to present view controller:
[code]

note:  If i download from app store on iOS 12 everything looks ok, this result is only on iOS 13 de

[2019-09-10 18:12] davidme-stripe commented on #1369
This is a dupe of #1350. It's fixed in the master branch of the Stripe SDK, and we're planning to release an update to Cocoapods later today.

One thing: I think this only happens when you build with the iOS 13 SDK — I don't think UIKit will use the new navigation bar style if someone downloads your app from the App Store. I could be wrong on this, please let me know!

[2019-09-10 18:19] kselvin commented on #1369
Great thank you!

I am pretty sure it will show in App Store because i created a build on Fabric using iOS 12 SDK and then installed it on iOS 13 devices to find the bug

[2019-09-10 18:22] kselvin commented on #1369
Followed the issue you linked to and was able to solve the issue using
self.paymentContext!.theme.translucentNavigationBar = true

thank you!!

[2019-09-10 18:59] davidme-stripe commented on #1369
Great! The update has shipped, so you can also work around this by updating to Stripe 17.0.1.

[2019-09-10 18:59] #1369 closed

[2019-09-10 19:00] davidme-stripe commented on #1350
This has been fixed in Stripe SDK 17.0.1.

[2019-09-10 19:00] #1350 closed

[2019-09-10 19:01] davidme-stripe commented on #1352
This has been fixed in Stripe SDK 17.0.1.

[2019-09-10 19:01] #1352 closed

[2019-09-10 19:01] davidme-stripe commented on #1358
This has been fixed in Stripe SDK 17.0.1.

[2019-09-10 19:01] #1358 closed

[2019-09-10 19:01] davidme-stripe commented on #1356
This has been fixed in Stripe SDK 17.0.1.

[2019-09-10 19:01] #1356 closed

[2019-09-10 19:01] davidme-stripe commented on #1314
This has been fixed in Stripe SDK 17.0.1. Please let me know if it works for you!

[2019-09-10 19:01] #1314 closed

[2019-09-10 19:52] yuki-stripe commented on #1368
Hi @yujia917,

`STPPaymentOptionsViewController` migrated from Token to [PaymentMethod](https://stripe.com/docs/payments/payment-methods).  Instead of creating Tokens, it creates PaymentMethods.

It sounds like you want to look at `createPaymentMethodWithParams:(STPPaymentMethodParams *)paymentMethodParams completion:(STPPaymentMethodCompletionBlock)completion`

[2019-09-10 20:11] yujia917 commented on #1368
Hi Yuki:

Thanks a lot for reply.

I tried to override the function createPaymentMethodWithParams like following. The function got called when adding test card, but i still always got the error "No such payment_method". What did I miss?

[code]

[2019-09-10 20:34] yuki-stripe commented on #1360
@carlosanjos I'd recommend removing the call to `confirm` from your backend and only confirming on the client - is there a particular reason you're doing that?

I haven't been able to reproduce this on my end, could you provide a set of steps to reproduce this?

[2019-09-10 20:42] yuki-stripe commented on #1368
@yujia917 I'd expect this error.  There is no payment_method being created here - you're overriding the method so that it instead returns this mock.

What are you trying to do?  You might want to look at using the test cards here https://stripe.com/docs/testing#cards.

[2019-09-10 22:29] yujia917 commented on #1368
Hi Yuki:

I am trying to add the test card to the customer. I still got the same error even I didn't override the createPaymentMethodWithParams function. I tried several test cards in the link you sent.

[2019-09-10 23:26] yuki-stripe commented on #1368
@yujia917 Ah okay, understood.  Could you tell me what method is giving this error, and show the code where you initialize the `STPPaymentOptionsViewController`?

[2019-09-10 23:45] yujia917 commented on #1368
Hi Yuki:

I actually don't know which method threw that error. The following is the code of initializing STPPaymentOptionsViewController:

[code]

This is the screen shot:
<img width="325" alt="Screen Shot 2019-09-10 at 4 44 20 PM" src="https://user-images.githubusercontent.com/12704261/64657897-45e5b200-d3ea-11e9-8275-14425377f5d7.png">

[2019-09-11 00:16] yuki-stripe commented on #1368
@yujia917 I would make sure that `StripeAPIClient.sharedClient` is using the right API key - it should be the one starting with `pk_` here https://dashboard.stripe.com/test/apikeys.

[2019-09-11 05:43] yujia917 commented on #1368
Hi Yuki:

Thanks. One additional character was added to the end of the API key by mistake. It works now.

Thanks a lot.

[2019-09-11 14:03] chrisGeonet commented on #1267
Is there an update on this. I'm still getting the error.

[2019-09-11 17:09] #1368 closed

[2019-09-11 17:09] carlosanjos commented on #1360
@yuki-stripe
This [https://pastebin.com/GVb8KDr7](https://pastebin.com/GVb8KDr7) is a PHP application to generate payment intents.
This [https://pastebin.com/tJ3mVFZv](https://pastebin.com/tJ3mVFZv) is an iOS application to confirm the payment intent previously generated.

[2019-09-11 20:07] yuki-stripe commented on #1360
@carlosanjos Thanks, this info was very useful.  I believe this stems from a bug we fixed in `v17.0.0` - if you cancel or otherwise don't complete the authentication flow, re-confirming the same PaymentIntent will result in this error prior to `v17.0.0`.

[2019-09-11 22:46] davidme-stripe commented on #1267
We're still working with our partners to get these cards updated. I'm incredibly sorry at how long this is taking, but we don't have any control over the sandbox cards.

In the meantime, I'd recommend testing with a [test mode API Key](https://stripe.com/docs/testing) and a real Apple Pay card. This generally isn't a supported flow, but it should allow you to test your integration without needing

[2019-09-13 18:55] davidme-stripe commented on #1331
Hey @aurelhubert, can you try the version in the `master` branch? I think it'll do what you're asking for.

[2019-09-14 16:43] aqeel371 opened #1376 "STPPaymentHandler is crashing app"
app crashes when i try to confirm payment with payment intent in stripe sdk [Version 17.0.1](https://github.com/stripe/stripe-ios/releases/tag/v17.0.1)

[code]
it causes the exception in `STPAPIClient.m    L:210`

Note:

- i am using following cards
1. `4000 0025 0000 3155`
2. `4242 4242 4242 4242`
3. `4000 0027 6000 3184`

[2019-09-15 14:56] amuresia commented on #1204
Hi all, I've given it a go in the last couple of days but now with the SCA in place, I get stuck when trying to [support 3D Secure Authentication on iOS](https://stripe.com/docs/mobile/ios/authentication#implement-authentication-context)

I can't seem to be able to implement the STPAuthenticationContext protocol as my application doesn't use any UIViewControllers. Is anybody aware of any workaroun

[2019-09-16 08:14] aurelhubert commented on #1331
@davidme-stripe it seems to be okay now with the next code:
[code]

Thanks 👍

[2019-09-16 08:14] #1331 closed

[2019-09-16 13:51] Gujci commented on #1204
@amuresia  I have just ran into the same issue. It's sad, that `STPAuthenticationContext` needs to be an `NSObject`. Sadly, I have to go back to the old `ViewController` mess, and maybe wrap it into a `UIViewControllerRepresentable`. Right now I see no other option to provide the context.

[2019-09-16 17:48] davidme-stripe commented on #1204
Thanks for the feedback! We'll see if we can make this less messy.

[2019-09-16 17:56] yuki-stripe commented on #1376
Hey @aqeel371,

The assertion on that line suggests you are using a secret key instead of a publishable one.  You only want to include the publishable key (starts with pk_) in your app - you can grab it here https://dashboard.stripe.com/apikeys

[2019-09-16 21:54] davidme-stripe commented on #1204
I need to wrap my head around this a bit more, but it looks like SwiftUI apps still have a root UIViewController (generally the UIHostingController), so you should still be able to present legacy view controllers without too many modifications to your app. Could you do something like this?

[code]

Let me know if this unblocks you for now. It obviously isn't ideal, and we'll continue to investigat

[2019-09-17 16:39] #1376 closed

[2019-09-17 17:13] divsbhalala opened #1379 "Number field placeholder not visible correct"
![image](https://user-images.githubusercontent.com/12185309/65063739-7c986b00-d99c-11e9-85b5-d6efcaafbd85.png)
In stripe SDK-17.0.0
https://www.screenmailer.com/v/0aqmcYQBrGaxf5g

[2019-09-17 20:40] amuresia commented on #1204
Hey @davidme-stripe! Thanks for the solution - it's definitely a step forward at least for now.
Could you please also add a snippet of the way you implement and share your MyAPIClient.sharedClient? What type does it have because I am trying to follow step 2 from this tutorial https://stripe.com/docs/mobile/ios/standard#ephemeral-key but I'm a bit confused because it suggests I should cast my JSON

[2019-09-17 21:15] davidme-stripe commented on #1204
Try looking at [MyAPIClient.swift](https://github.com/stripe/stripe-ios/blob/c26fffa372d882da12bd6a677978b1a2892be956/Example/Standard%20Integration/MyAPIClient.swift) in this repository, which was built to communicate with our [example-ios-backend](https://github.com/stripe/example-ios-backend/tree/v17.0.0). The APIClient should conform to `STPCustomerEphemeralKeyProvider`, which involves impleme

[2019-09-17 21:22] Sanunez opened #1380 "Documentation Out of date"
## Summary

Docs out of date with new Code Changes.

## Code to reproduce

MyAPIClient.swift on Standard Integration has been updated, but docs at:
https://stripe.com/docs/mobile/ios/standard#using-ios-standard-ui-components
have not reflected the changes.

## iOS version

## Installation method

CocoaPods

## SDK version

17.01

## Other information

[2019-09-17 21:52] amuresia commented on #1204
Thank you very much kind sir! I've now got a working PoC which I'll continue to build on top of. I'll make sure to update this issue if some 🐛 crops up!

[2019-09-17 22:12] yuki-stripe commented on #1380
Hi @Sanunez,

We're updating the docs now.  Please reach out if you have any questions in the mean time.

[2019-09-18 05:44] shantaramk opened #1381 "SFSafariViewController unable to view the proper Html"
I have been using the stripe SDK to execute the payment but as user perspective, we are unable to view the complete authorization and fail authorization button at the proper location.
as of now, we have to scroll the web view horizontally.

Here is code that i have written

[code]

## iOS version
**I have been using the iphone 6s version 10.2.1**

## Installation method
I installed the stripe usin

[2019-09-18 05:45] shantaramk commented on #1381
![IMG_0933](https://user-images.githubusercontent.com/7990309/65115618-a174f880-da05-11e9-9536-d4d9666b4e59.png)

[2019-09-18 13:32] jcampbell05 opened #1382 "STPPaymentViewController crashes when you remove a card and then leave the view controller"
## Summary

If a user removes their last card from the payment view controller and then immediately leaves then the SDK will crash due to the SDK attempting to update the tableview for the list of cards and trying to insert a nil object into an array.

Potentially the tableview is in a indeterminate star as it's off the screen.

## Code to reproduce

No code as this can be reproduced by the standa

[2019-09-18 16:41] joaoppedrosa opened #1383 "Freeze screen after authentication failed"
## Summary
At the second try in the safari freezes and doesn't respond anymore.
And I'm receiving the URL callback.

## Code to reproduce
1 - Insert a 3D Secure card (like 4000 0082 6000 3178), make the confirm and failed the authentication
2 - Request  a new confirm and the screen freezes

## iOS version
iOS 12.4 | iOS 12.3.1

## Installation method
Cocoapods

## SDK version
17.0.1

## Other info

[2019-09-18 18:44] Gujci commented on #1204
@dackerman-stripe excuse me for falsely using the word "mess", Monday was quite exhausting for me.

The problem in may case was the following:

- made a custom swiftUI view, using your `STPPaymentCardTextField` wrapped into StripePaymentCardTextField, which works really nice 👍
- this custom view had a view model, with a `@Published` `STPPaymentMethodCardParams`, this was bonded to the views' input

[2019-09-18 19:57] El-Fitz commented on #1283
Hello!

I still have the same issue (safari not automatically closing on completion), with sdk version 17.0.0 using a manual confirmation.
We are correctly passing the return url on the backend, and weirdly it works perfectly fine using our staging environment with Stripe dev keys.

But, when running it in production with Stripe production keys, the Safari ViewController won't automatically close

[2019-09-18 20:29] yuki-stripe commented on #1283
Hi @El-Fitz,

Could you provide me with a payment intent id that reproduces this issue so I can dig into it?  You can find it in https://dashboard.stripe.com/events.  It looks something like `pi_1FK9b5KlwPmebFhpTrpEmAFG`

[2019-09-18 21:26] yuki-stripe commented on #1283
@El-Fitz I tested in production with an AMEX card and found Safari ViewController automatically closed, as expected.  This behavior might be specific to the bank or issuer.

[2019-09-18 23:56] yuki-stripe commented on #1023
The Alipay app requires the return URL to be `your-app-scheme://safepay/` (replace `your-app-id` with your actual app scheme).

I'm unable to test at this time whether the webview redirects to this URL as well.  I'm working on documenting this now.

[2019-09-18 23:56] #1023 closed

[2019-09-19 00:10] davidme-stripe commented on #1030
Sorry that this took so long! We're addressing all the feedback in this issue in #1384, and we'll do a deeper VoiceOver audit in the near future.

[2019-09-19 02:25] #1340 closed

[2019-09-19 13:34] vitalii-tym commented on #968
There is one more possible scenario: when the travel time to-from backend is long enough, the Apple Pay dialog may give "Payment wasn't successful" alert and will dismiss itself. It has some kind of countdown timer until it gives up (not 100% sure, but my tests show that this timer has appeared in iOS 12, Apply Pay just waits forever in previous iOS versions). Couldn't find it documented anywhere,

[2019-09-19 18:24] csabol-stripe commented on #1381
hi @shantaramk, I was able to reproduce what you're seeing using a 10.2 simulator and have reached out to our web team to have them investigate. FWIW I was not seeing this behavior on iOS 10.3+ if that helps. Also these are just Stripe test pages so won't be what your customers see :) I'll update this issue when I hear back from our web team about the fix

[2019-09-19 23:28] csabol-stripe commented on #1382
Hi @jcampbell05 could you provide some more reproduction steps for this? I tried reproducing by running the Standard Integration example app and swiping to delete all the prepopulated cards, then pressing cancel but am not hitting a crash. Is there an additional interaction needed to trigger this?

[2019-09-19 23:48] csabol-stripe commented on #1383
Hi @joaoppedrosa, could you provide any additional steps or code you are using to reproduce? I just tried using the test card number in our Custom Integration sample app, declining the authorization, then trying the same again but didn't hit this behavior.

Also is it just the web content that is not responsive or is the SFSafariViewController UI unresponsive as well (e.g. you are unable to dismis

[2019-09-20 06:53] El-Fitz commented on #1283
Hi @yuki-stripe !

Sorry for the delay. I don't personally have access to the stripe dashboard (working as a freelance).

Here are two payment intents (dev & production):
dev: pi_1FKfspJTwGgAGkZk5uZmicBQ
prod: pi_1FKfwBJTwGgAGkZkDcNPxW4h

It definitely isn't the bank or issuer, because we get it with every single major French bank, and also with both Revolut & N26, using both Visa & MasterCard iss

[2019-09-20 08:14] shantaramk commented on #1381
Hi @csabol-stripe, Yes I understand our customer will not get interact with this screen ever because we are using the sandbox mode.
thanks for update

[2019-09-20 10:23] joaoppedrosa commented on #1383
Hi @csabol-stripe, thanks for the reply.
Actually is a very odd behavior, because sometimes at the second, third try everything works fine, and when we are debugging everything works perfectly. Sometimes appear the "Return to Merchant" button, but most of the time at the second try after a failure, appear this white and freeze screen, whit no cancel or dismiss button, just completely freeze.

I th

[2019-09-20 15:22] jcampbell05 commented on #1382
I'll investigate further to see if there is something more contextual which is causing the issue @csabol-stripe

[2019-09-23 21:25] csabol-stripe commented on #1381
Due to low usage numbers for pre-iOS 11 and because this won't affect cardholders, our web team isn't considering this a priority fix. Closing the issue for now, feel free to reach out directly if you have more context to share @shantaramk !

[2019-09-23 21:25] #1381 closed

[2019-09-23 21:27] csabol-stripe commented on #1383
😬 that doesn't sound good! I'll leave this issue open for a while to see if we get any other reports. If you are able to isolate any more steps/setup to reproduce please add them here!

[2019-09-24 11:42] joaoppedrosa commented on #1383
@csabol-stripe I will leave here our implementation, if you can spot or see anything that we are doing wrong or that can be making this bug.

We are using the version **17.0.1** of Stripe SDK.

**RNStripeWrapper.swift**
[code]

**AppDelegate.m**
[code]

[2019-09-24 20:22] csabol-stripe commented on #1383
thanks @joaoppedrosa this is really helpful. Looking at the code, I'm wondering if maybe the view that is left frozen on the screen is actually `authenticationView`. Can you confirm the view hierarchy when you hit this bug? (Fastest way would probably be to user Xcodes UI Inspector)

I think this is fine, but would also recommend against asynchronously presenting a view before calling `handleNextA

[2019-09-24 21:04] davidme-stripe commented on #1379
Thanks for the report, we're looking into this. To temporarily work around this, you could try setting your `numberPlaceholder` to the default value.

[2019-09-24 22:35] davidme-stripe commented on #1030
This should be fixed in v17.0.2.

[2019-09-24 22:35] #1030 closed

[2019-09-25 08:49] rus64 opened #1388 "STPPaymentCardTextField sends keyboardWillHideNotification when begin editing the field."
## Summary
When tapping on `STPPaymentCardTextField` to begin editing the field one would expect `UIResponder.keyboardWillShowNotification` to be sent, but instead the `UIResponder.keyboardWillHideNotification` is sent. This results in great difficulty in managing the View in relation to the keyboard.

## Code to reproduce
[code]

## iOS version
<= iOS 12

## Installation method
Carthage

## SDK v

[2019-09-25 10:21] duzenko opened #1389 "iOS manual confirmation error"
I'm trying to wrap my head around the SDK and,  frustrating indeed, the bundled example fails on the function I need to replicate in my app.

`createAndConfirmPaymentIntentWithPaymentMethod` fails from the manual confirmation view with the error message `Invalid PaymentIntent status`

What does it mean and what can I do about it?

![image](https://user-images.githubusercontent.com/1481807/65592570

[2019-09-25 10:39] joaoppedrosa commented on #1383
Hi @csabol-stripe, I check the ``onAuthenticationSuccess`` and ``onAuthenticationError`` and they are being called as expected.
Thanks for the tip about the asynchronously presenting a view, it's already resolved.

About the bug it's still occurring, I use the XCode UI Inspector and the block it's happening in ``SFSafariViewController``

<img width="1676" alt="Captura de ecrã 2019-09-25, às 11 3

[2019-09-25 17:10] davidme-stripe commented on #1388
Hey @rus64, I'm seeing this happen when a hardware keyboard is connected (or when "Keyboard" -> "Connect Hardware Keyboard" is enabled in the Simulator menu, which is the default option), but not when it's disabled. Without a hardware keyboard, tapping on the field triggers a `UIResponder.keyboardWillShowNotification`. Are you seeing this without a hardware keyboard connected?

[2019-09-25 17:13] davidme-stripe commented on #1389
We recently made a change to this flow: If you've updated to 17.0.2 (or the current `master` branch), you'll need to update your [example-ios-backend](https://github.com/stripe/example-ios-backend) server to the latest 17.0.0. Similarly, if you just deployed the latest example-ios-backend to Heroku, you'll need to update your copy of the Stripe repository to 17.0.2.